<!-- 1.0 Organic search -->
{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
Search for contact details - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "../what-do-you-want-to-do"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "What do you want to do?",
      href: "../what-do-you-want-to-do"
    },
    {
      text: "Search for contact details"
    }
  ]
}) }}
{% endif %}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-for-location" method="post" novalidate>  

      <h1 class="govuk-heading-l">What is the name or address of the court or tribunal?
      <span class="govuk-hint">
        You can find the name or address of the court or tribunal on a letter, email or text from HM Courts and Tribunal Services (HMCTS).
      </span></h1>
      <div class="govuk-form-group autocomplete-wrapper govuk-body-m">
        <label class="govuk-label" for="select-court">
          Start typing the name or location of a court or tribunal
        </label>
        <select class="govuk-select" id="select-court" name="select-court">
          {% include "includes/court-location-details.html" %}
        </select>
      </div>

<br />


        {{ govukButton({
          text: "Continue"
        }) }}


      </br>
      


      <p class="govuk-body-m">
        If you work for HMCTS, you can search using the Court Location Code.
      </p>
<!--
        {{ govukDetails({
          summaryText: "If you need help with this tool",
          html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
        }) }}
-->
    </form>
  </div>
</div>


{% endblock %}
{% block bodyEnd %}
<script type="text/javascript" src="../public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  var selectEl = document.querySelector('#select-court')
  accessibleAutocomplete.enhanceSelectElement({
    autoselect: true,
    defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
    selectElement: selectEl
  })

</script>
{% endblock %}

