{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
Search for contact details - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for contact details"
    }
  ]
}) }}
{% endif %}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-for-location" method="post" novalidate>  

      <h1 class="govuk-heading-xl">Search for the contact details for a court or tribunal</h1>

      <p class="govuk-body-m">
        If you are looking for a specific court and  know what the court is called or part of the address then this will help you.
      </p>

      <div class="background-box">
        {{ govukInput({
        label: {
        text: "Enter a court name, town or city, or postcode"
        },
        classes: "govuk-input--width-30",
        hint: {
            text: "For example, Courts of Justice"
          },
        id: "address-postcode",
        name: "location-search-value",
        autocomplete: "postal-code"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

      </br>
      
      {{ govukInsetText({
        text: "Check your HMCTS letter or correspondence for contact details of the court or tribunal."
      }) }}

      <p class="govuk-body-m">
        If you are a member of staff at a court or service centre, you can search here using the Court Location Code too.
      </p>

        {{ govukDetails({
          summaryText: "If you need help with this tool",
          html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
        }) }}

    </form>
  </div>
</div>
{% endblock %}
