{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Form
    </span>
  <h1 class="gem-c-title__text gem-c-title__text--long">
    Form N1: Make a claim against a person or organisation (Claim form CPR Part 7)
  </h1>
</div>
  </div>
  

  <div class="govuk-grid-column-two-thirds">
    
  <p class="gem-c-lead-paragraph">Use Form N1 to make a claim against a person or organisation to settle a dispute. Includes notes N1A, N1C, N1D and N1(FD).</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
    <div class="app-c-published-dates " lang="en">
    Published 1 June 2016
    <br>Last updated 26 June 2018
      — <a href="#history" class="app-c-published-dates__history-link govuk-link">see all updates</a>
</div>

      <div class="app-c-publisher-metadata__other">
        <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a class="govuk-link" href="/government/organisations/hm-courts-and-tribunals-service">HM Courts &amp; Tribunals Service</a>
                </span>
            </dd>
        </dl>
      </div>
  </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>






<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds responsive-bottom-margin">
    
    <div class="responsive-bottom-margin">
        <section id="documents">
    <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  ">Documents</h2>


      
<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
      <section class="attachment hosted-externally" id="attachment_3696574">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://www.moneyclaims.service.gov.uk/eligibility"><img alt="" src="/government/assets/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a rel="external" href="https://www.moneyclaims.service.gov.uk/eligibility">Try the new online service for claims of £10,000 or less</a></h2>
    <p class="metadata">
        <span class="url">https://www.moneyclaims.service.gov.uk/eligibility</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696575">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688390/n1-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688390/thumbnail_n1-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688390/n1-eng.pdf">Claim form (CPR Part 7) (Form N1)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">83.5KB</span>, <span class="page-length">2 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696576">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719548/n1-largeprint-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719548/thumbnail_n1-largeprint-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/719548/n1-largeprint-eng.pdf">Claim form (CPR Part 7) - Form N1 (large print)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">43.7KB</span>, <span class="page-length">4 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696577">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772443/n1a-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772443/thumbnail_n1a-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772443/n1a-eng.pdf">Notes for claimant on completing a claim form (N1A)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">79.9KB</span>, <span class="page-length">2 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696578">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/776685/n1a-largeprint-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/776685/thumbnail_n1a-largeprint-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/776685/n1a-largeprint-eng.pdf">Notes for claimant on completing a claim form (N1A) (large print)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">373KB</span>, <span class="page-length">8 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696579">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835190/n1a-easyread-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835190/thumbnail_n1a-easyread-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/835190/n1a-easyread-eng.pdf">Easy Read version of: Notes for claimant on completing a claim form (N1A)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">2.06MB</span>, <span class="page-length">25 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696580">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772444/n1c-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772444/thumbnail_n1c-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772444/n1c-eng.pdf">Notes for defendant on replying to the claim form (N1C)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">38.8KB</span>, <span class="page-length">2 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696581">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789505/n1c-largeprint-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789505/thumbnail_n1c-largeprint-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789505/n1c-largeprint-eng.pdf">Notes for defendant on replying to the claim form (N1C) - large print</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">232KB</span>, <span class="page-length">8 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696582">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772445/n1d-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772445/thumbnail_n1d-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772445/n1d-eng.pdf">Notes for defendant on replying to the claim form out of the jurisdiction (N1D)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">108KB</span>, <span class="page-length">3 pages</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696583">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772446/n1fd-eng.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772446/thumbnail_n1fd-eng.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/772446/n1fd-eng.pdf">Notes for defendant (Consumer Credit Act cases) (N1(FD))</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">55.1KB</span>, <span class="page-length">1 page</span>
    </p>


  </div>
</section><section class="attachment embedded" id="attachment_3696584">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688391/n1-bil.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688391/thumbnail_n1-bil.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a aria-describedby="attachment-3696584-accessibility-help" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688391/n1-bil.pdf">Ffurflen hawlio (RTS rhan 7) / Claim form (CPR part 7) (Ffurflen / Form N1)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">83.1KB</span>, <span class="page-length">2 pages</span>
    </p>


      <div data-module="toggle" class="accessibility-warning" id="attachment-3696584-accessibility-help">
        <h2>This file may not be suitable for users of assistive technology.
          <a class="toggler" href="#attachment-3696584-accessibility-request" data-controls="attachment-3696584-accessibility-request" data-expanded="false">Request an accessible format.</a>
        </h2>
        <p id="attachment-3696584-accessibility-request" class="js-hidden">
          If you use assistive technology (such as a screen reader) and need a
version of this document in a more accessible format, please email <a href="mailto:hmctsforms@justice.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Ffurflen%20hawlio%20%28RTS%20rhan%207%29%20%2F%20Claim%20form%20%28CPR%20part%207%29%20%28Ffurflen%20%2F%20Form%20N1%29%0A%20%20Original%20format%3A%20pdf%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Ffurflen%20hawlio%20%28RTS%20rhan%207%29%20%2F%20Claim%20form%20%28CPR%20part%207%29%20%28Ffurflen%20%2F%20Form%20N1%29%27%20in%20an%20alternative%20format">hmctsforms@justice.gov.uk</a>.
Please tell us what format you need. It will help us if you say what assistive technology you use.

        </p>
      </div>
  </div>
</section><section class="attachment embedded" id="attachment_3696585">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688393/n1a-bil.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688393/thumbnail_n1a-bil.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a aria-describedby="attachment-3696585-accessibility-help" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/688393/n1a-bil.pdf">Nodiadau i'r hawlydd ar lenwi ffurflen hawlio / Notes for claimant on completing a claim form (N1A)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">144KB</span>, <span class="page-length">5 pages</span>
    </p>


      <div data-module="toggle" class="accessibility-warning" id="attachment-3696585-accessibility-help">
        <h2>This file may not be suitable for users of assistive technology.
          <a class="toggler" href="#attachment-3696585-accessibility-request" data-controls="attachment-3696585-accessibility-request" data-expanded="false">Request an accessible format.</a>
        </h2>
        <p id="attachment-3696585-accessibility-request" class="js-hidden">
          If you use assistive technology (such as a screen reader) and need a
version of this document in a more accessible format, please email <a href="mailto:hmctsforms@justice.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Nodiadau%20i%27r%20hawlydd%20ar%20lenwi%20ffurflen%20hawlio%20%2F%20Notes%20for%20claimant%20on%20completing%20a%20claim%20form%20%28N1A%29%0A%20%20Original%20format%3A%20pdf%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Nodiadau%20i%27r%20hawlydd%20ar%20lenwi%20ffurflen%20hawlio%20%2F%20Notes%20for%20claimant%20on%20completing%20a%20claim%20form%20%28N1A%29%27%20in%20an%20alternative%20format">hmctsforms@justice.gov.uk</a>.
Please tell us what format you need. It will help us if you say what assistive technology you use.

        </p>
      </div>
  </div>
</section><section class="attachment embedded" id="attachment_3696586">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700720/n1c-bil.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700720/thumbnail_n1c-bil.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a aria-describedby="attachment-3696586-accessibility-help" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700720/n1c-bil.pdf">Nodiadau I'r diffynnydd ar ateb y ffurflen hawlio / Notes for defendant on replying to the claim form (N1C)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">161KB</span>, <span class="page-length">4 pages</span>
    </p>


      <div data-module="toggle" class="accessibility-warning" id="attachment-3696586-accessibility-help">
        <h2>This file may not be suitable for users of assistive technology.
          <a class="toggler" href="#attachment-3696586-accessibility-request" data-controls="attachment-3696586-accessibility-request" data-expanded="false">Request an accessible format.</a>
        </h2>
        <p id="attachment-3696586-accessibility-request" class="js-hidden">
          If you use assistive technology (such as a screen reader) and need a
version of this document in a more accessible format, please email <a href="mailto:hmctsforms@justice.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Nodiadau%20I%27r%20diffynnydd%20ar%20ateb%20y%20ffurflen%20hawlio%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20%28N1C%29%0A%20%20Original%20format%3A%20pdf%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Nodiadau%20I%27r%20diffynnydd%20ar%20ateb%20y%20ffurflen%20hawlio%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20%28N1C%29%27%20in%20an%20alternative%20format">hmctsforms@justice.gov.uk</a>.
Please tell us what format you need. It will help us if you say what assistive technology you use.

        </p>
      </div>
  </div>
</section><section class="attachment embedded" id="attachment_3696587">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700723/n1d-bil.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700723/thumbnail_n1d-bil.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a aria-describedby="attachment-3696587-accessibility-help" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/700723/n1d-bil.pdf">Nodiadau i'r diffynnydd ar ateb i'r ffurflen hawlio y tu allan i'r awdurdodaeth / Notes for defendant on replying to the claim form out of the jurisdiction (N1D)</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">207KB</span>, <span class="page-length">5 pages</span>
    </p>


      <div data-module="toggle" class="accessibility-warning" id="attachment-3696587-accessibility-help">
        <h2>This file may not be suitable for users of assistive technology.
          <a class="toggler" href="#attachment-3696587-accessibility-request" data-controls="attachment-3696587-accessibility-request" data-expanded="false">Request an accessible format.</a>
        </h2>
        <p id="attachment-3696587-accessibility-request" class="js-hidden">
          If you use assistive technology (such as a screen reader) and need a
version of this document in a more accessible format, please email <a href="mailto:hmctsforms@justice.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Nodiadau%20i%27r%20diffynnydd%20ar%20ateb%20i%27r%20ffurflen%20hawlio%20y%20tu%20allan%20i%27r%20awdurdodaeth%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20out%20of%20the%20jurisdiction%20%28N1D%29%0A%20%20Original%20format%3A%20pdf%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Nodiadau%20i%27r%20diffynnydd%20ar%20ateb%20i%27r%20ffurflen%20hawlio%20y%20tu%20allan%20i%27r%20awdurdodaeth%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20out%20of%20the%20jurisdiction%20%28N1D%29%27%20in%20an%20alternative%20format">hmctsforms@justice.gov.uk</a>.
Please tell us what format you need. It will help us if you say what assistive technology you use.

        </p>
      </div>
  </div>
</section><section class="attachment embedded" id="attachment_3696588">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" tabindex="-1" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/701375/n1_fd_-bil.pdf"><img alt="" src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/701375/thumbnail_n1_fd_-bil.pdf.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title"><a aria-describedby="attachment-3696588-accessibility-help" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/701375/n1_fd_-bil.pdf">Nodiadau i'r diffynnydd ar ymateb i'r ffurflen hawlio (hawliad Deddf Credyd Defnyddwyr) / Notes for defendant on replying to the claim form (Consumer Credit Act claim) (N1(FD))</a></h2>
    <p class="metadata">
        <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">49.4KB</span>, <span class="page-length">2 pages</span>
    </p>


      <div data-module="toggle" class="accessibility-warning" id="attachment-3696588-accessibility-help">
        <h2>This file may not be suitable for users of assistive technology.
          <a class="toggler" href="#attachment-3696588-accessibility-request" data-controls="attachment-3696588-accessibility-request" data-expanded="false">Request an accessible format.</a>
        </h2>
        <p id="attachment-3696588-accessibility-request" class="js-hidden">
          If you use assistive technology (such as a screen reader) and need a
version of this document in a more accessible format, please email <a href="mailto:hmctsforms@justice.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Nodiadau%20i%27r%20diffynnydd%20ar%20ymateb%20i%27r%20ffurflen%20hawlio%20%28hawliad%20Deddf%20Credyd%20Defnyddwyr%29%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20%28Consumer%20Credit%20Act%20claim%29%20%28N1%28FD%29%29%0A%20%20Original%20format%3A%20pdf%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Nodiadau%20i%27r%20diffynnydd%20ar%20ymateb%20i%27r%20ffurflen%20hawlio%20%28hawliad%20Deddf%20Credyd%20Defnyddwyr%29%20%2F%20Notes%20for%20defendant%20on%20replying%20to%20the%20claim%20form%20%28Consumer%20Credit%20Act%20claim%29%20%28N1%28FD%29%29%27%20in%20an%20alternative%20format">hmctsforms@justice.gov.uk</a>.
Please tell us what format you need. It will help us if you say what assistive technology you use.

        </p>
      </div>
  </div>
</section>
</div>

  </section>



      <section id="details">
        <h2 class="gem-c-heading  gem-c-heading--mobile-top-margin  ">Details</h2>


        
<div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
      <div class="govspeak">
<div class="call-to-action">
<p>If your claim is for money, you can <a href="https://www.gov.uk/make-money-claim-online" class="govuk-link">use the online service instead</a>.</p>
</div>

<p>More about <a href="https://www.gov.uk/make-court-claim-for-money" class="govuk-link">making a court claim for money</a>.</p>

<p>Form N1 is also known as ‘Claim form (CPR Part 7)’.</p>

<p>Find out about <a href="https://www.gov.uk/government/publications/fees-in-the-civil-and-family-courts-main-fees-ex50" class="govuk-link">civil and family court fees (from February 2018)</a> and find out if you can get <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link">help with fees</a>.</p>

<p>Find more <a href="https://www.gov.uk/government/collections/court-and-tribunal-forms" class="govuk-link">court and tribunal forms</a> by category.</p>

<p>Find out <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/personal-information-charter" class="govuk-link">how HM Courts and Tribunals Service uses personal information</a> you give when you fill in a form.</p>
</div>
</div>

      </section>
    </div>

    <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle" lang="en">
    Published 1 June 2016
    <br>Last updated 26 June 2018
      <a href="#full-history" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="- hide all updates">+ show all updates</a>
      <div class="app-c-published-dates__change-history js-hidden" id="full-history">
        <ol>
            <li class="app-c-published-dates__change-item">
              <time class="app-c-published-dates__change-date timestamp" datetime="2018-06-26T15:27:22.000+01:00">26 June 2018</time>
              <p class="app-c-published-dates__change-note">Added large print (20pt) Form N1.</p>
            </li>
            <li class="app-c-published-dates__change-item">
              <time class="app-c-published-dates__change-date timestamp" datetime="2016-06-01T00:00:00.000+01:00">1 June 2016</time>
              <p class="app-c-published-dates__change-note">First published.</p>
            </li>
        </ol>
      </div>
</div>

  </div>
{% endblock %}
 