<!-- 2.0 need an update -->
{% extends "layout.html" %}
{% block pageTitle %}
Do you need an update? - Find a court or tribunal - GOV.UK{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "What do you want to do?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/need-update" method="post" novalidate>  
      {{ govukRadios({
        idPrefix: "update-needed",
        name: "update-needed",
        fieldset: {
          legend: {
            text: "Do you need an update from a court or tribunal?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {

            value: "yes",
            text: "Yes"

          },
          {
     
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>  
  </div>
</div>

{% endblock %}
