{% extends "layout.html" %}
{% block pageTitle %}
Paper service - Find a court or tribunal - GOV.UK
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h1 class="gem-c-title__text ">
    Make a money claim online
  </h1>
</div>
  </div>
</div>

<div class="govuk-grid-row responsive-bottom-margin">
  <div class="govuk-grid-column-two-thirds">
    
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
    
      <p>You can make a money claim if you think a person or organisation owes you money and will not pay you back. You’ll have to <a href="/make-court-claim-for-money/court-fees">pay a fee</a>.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Before making a claim, contact the person or organisation to try to <a rel="external" href="https://civilmediation.org/for-the-public/about-mediation/">resolve the issue by discussion or mediation</a>.</p>
</div>

<p>Your claim, including your name and address, will be sent to the person you say owes you money. They’ll get a chance to respond to your claim.</p>

<p><a class="gem-c-button govuk-button govuk-button--start" role="button" href="https://www.moneyclaims.service.gov.uk/make-claim"> Make a money claim <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a></p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>To make a money claim in Welsh, download and fill in <a href="/government/publications/form-n1-claim-form-cpr-part-7">form N1</a>.</p>
</div>

<h2 id="return-to-an-existing-claim">Return to an existing claim</h2>

<p><a rel="external" href="https://www.moneyclaims.service.gov.uk/return-to-claim">Sign in to your account</a> to check updates, manage a claim or make a new claim.</p>

<h2 id="help-claiming-online">Help claiming online</h2>

<p>There are two online claim services. The phone number to use depends on which service you need help with.</p>

<div class="contact">
<p><strong>Money Claim Online (MCOL)</strong><br>
<a href="mailto:ccbc@justice.gov.uk">ccbc@justice.gov.uk</a><br>
Telephone: 0300 123 1057<br>
Monday to Friday, 8:30am to 5pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<div class="contact">
<p><strong>Money Claims</strong><br>
<a href="mailto:moneyclaims@justice.gov.uk">moneyclaims@justice.gov.uk</a><br>
Telephone: 0300 123 7050<br>
Monday to Friday, 9am to 5pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<h2 id="claim-by-post">Claim by post</h2>

<p>Download and fill in a <a href="/government/publications/form-n1-claim-form-cpr-part-7">claim form</a>.</p>

<p>Send it with a cheque for your <a href="/make-court-claim-for-money/court-fees">claim fee</a> to the County Court Money Claims Centre.</p>

<div class="address"><div class="adr org fn"><p>

County Court Money Claims Centre
<br>PO Box 527
<br>Salford
<br>Greater Manchester
<br>M5 0BY
<br>
</p></div></div>

<h3 id="help-claiming-by-post">Help claiming by post</h3>

<p>Contact the County Court Money Claims Centre.</p>

<div class="contact">
<p><strong>County Court Money Claims Centre</strong><br>
Telephone: 0300 123 1372<br>
Monday to Friday, 8:30am to 5pm<br>
<br>
Welsh language: 0300 303 5174 <br>
Monday to Friday, 9am to 5pm <br>
<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>



</div>

  </div>

  
<div class="govuk-grid-column-one-third">
  
<div class="gem-c-contextual-sidebar">


    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-c385579d" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-c385579d" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/make-court-claim-for-money" data-track-options='{"dimension28":"1","dimension29":"Make a court claim for money"}' href="/make-court-claim-for-money">Make a court claim for money</a></li>

  </ul>
</nav>

  </div>



</div>

</div>

</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
  <div class="gem-c-contextual-footer">
    
  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-cd4948ca" data-module="gem-toggle">

    <h2 id="related-nav-topics-cd4948ca" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/browse/business/funding-debt" data-track-options='{"dimension28":"2","dimension29":"Business debt and bankruptcy"}' href="/browse/business/funding-debt">Business debt and bankruptcy</a></li>
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/browse/tax/court-claims-debt-bankruptcy" data-track-options='{"dimension28":"2","dimension29":"Court claims, debt and bankruptcy"}' href="/browse/tax/court-claims-debt-bankruptcy">Court claims, debt and bankruptcy</a></li>

  </ul>
</nav>



      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_external_links-cd4948ca" data-module="gem-toggle">

    <h2 id="related-nav-related_external_links-cd4948ca" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer  gem-c-related-navigation__sub-heading--other" data-track-count="footerRelatedItemSection">Elsewhere on the web</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer  gem-c-related-navigation__section-link--other" rel="external" data-track-category="relatedLinkClicked" data-track-action="2.1 Elsewhere on the web" data-track-label="https://www.justice.gov.uk/courts/procedure-rules/civil/rules/practice-direction-51r-online-court-pilot" data-track-options='{"dimension28":"1","dimension29":"Legislation about this service"}' href="https://www.justice.gov.uk/courts/procedure-rules/civil/rules/practice-direction-51r-online-court-pilot">Legislation about this service</a></li>

  </ul>
</nav>

  </div>

  </div>


    </div>
  </div>



    </main>
    
<div class="gem-c-feedback" data-module="feedback">
  
<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__prompt-questions js-prompt-questions">
    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>
    <!-- Maybe button exists only to try and capture clicks by bots -->
    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>    <ul class="gem-c-feedback__option-list">
      <li class="gem-c-feedback__option-list-item">
        <a class="gem-c-feedback__prompt-link js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
          Yes <span class="govuk-visually-hidden">this page is useful</span>
</a>      </li>
      <li class="gem-c-feedback__option-list-item">
        <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
          No <span class="govuk-visually-hidden">this page is not useful</span>
</a>      </li>
    </ul>
  </div>
  <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
    Thank you for your feedback
  </div>
  <div class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
    <a class="gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
      Is there anything wrong with this page?
</a>  </div>
</div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post">
  <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

      <input type="hidden" name="url" value="https://www.gov.uk/make-money-claim?_ga=2.90156123.1908941750.1590991456-242542809.1582627906">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

      
<div class="govuk-form-group">
    
  <label for="input-6a49913d" class="gem-c-label govuk-label">What were you doing?</label>






    <input name="what_doing" class="gem-c-input govuk-input" id="input-6a49913d" type="text" aria-describedby="feedback_explanation">
</div>

      
<div class="govuk-form-group">
    
  <label for="input-926c5537" class="gem-c-label govuk-label">What went wrong?</label>






    <input name="what_wrong" class="gem-c-input govuk-input" id="input-926c5537" type="text">
</div>

      


  <button class="gem-c-button govuk-button" type="submit">Send</button>


    </div>
  </div>
</form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post">
  <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="survey-wrapper">
      <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

      <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="/make-money-claim?_ga=2.90156123.1908941750.1590991456-242542809.1582627906">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

      
<div class="govuk-form-group">
    
  <label for="input-3268c636" class="gem-c-label govuk-label">Email address</label>






    <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3268c636" type="email" autocomplete="email" aria-describedby="survey_explanation">
</div>

      


  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


    </div>
  </div>
</form>
</br>


</div>
{% endblock %}

