<!-- 2.1.2 / 2.2.2 Postcode search -->
{% extends "layout.html" %}
{% block pageTitle %}
What is your postcode? - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you"
    }
  ]
}) }}
{% endif %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/service-postcode" method="post" novalidate>  
      <h1 class="govuk-heading-l">What is your postcode?</h1>

        {{ govukInput({
        label: {
        text: "Enter your postcode?"
        },
        classes: "govuk-input--width-10",
        hint: {
            text: "For example, EH1 9SP"
          },
        id: "service-search-value",
        name: "service-search-value"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </br>

      <!--
      <p class="govuk-body-m">{{displayServiceArea}}</p>
      </br>
        {{ govukDetails({
          summaryText: "If you need help with this tool",
          html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
        }) }}
      -->
    </form>
  </div>
</div>
{% endblock %}
