<!-- 2.1 / 2.2 Service selection top level -->
{% extends "layout.html" %}
{% block pageTitle %}
  Choose an area of law - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you",
      href: "search-aol-postcode"
    },
    {
      text: "What is your application or hearing about?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% if continueService %}
  {% set pageHeader = "What do you need to contact a court or tribunal about?" %}
{% else %}
  {% set pageHeader = "What do you want to know more about?" %}
{% endif %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/choose-service-category" method="post" novalidate>  


      {{ govukRadios({
        idPrefix: "choose-service-category",
        name: "choose-service-category",
        fieldset: {
          legend: {
            text: pageHeader,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "money",
            text: "Money",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Money claims, rent or mortgage disputes, bankruptcy, job disputes related to pay."
            }
          },
          {
            value: "deaths-marriages-civil-partnerships",
            text: "Deaths, marriages and civil partnerships",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Probate disputes, divorce, ending a civil partnership, being made to marry against your will"
            }
          },
          {
            value: "childcare-parenting",
            text: "Childcare and parenting",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Making an adoption legal or arrangements for looking after your children if you separate from your partner"
            }
          },
          {
            value: "high-courts",
            text: "High Courts",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Courts that deal with the most serious and high profile cases in criminal and civil law"
            }
          },
          {
            divider: "or"
          },
          {
            value: "other",
            text: "I can't find what I'm looking for",
            label: {
              classes: "govuk-label--s"
            }
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}


<!--
      {{ govukDetails({
        summaryText: "If you need help with this tool",
        html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
      }) }}
-->

    </form>
  </div>
</div>
{% endblock %}
