<!-- 2.xa Money and tax -->
{% extends "layout.html" %}
{% block pageTitle %}
  Choose an area of law - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you",
      href: "search-aol-postcode"
    },
    {
      text: "What is your application or hearing about?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% if continueService %}
  {% set pageHeading = "What kind of help do you need with Money?" %}
{% else %}
  {% set pageHeading = "What area of money or tax do you need to find more about?" %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/choose-area" method="post" novalidate>  

      {{ govukRadios({
        idPrefix: "choose-service-area",
        name: "choose-service-area",
        fieldset: {
          legend: {
            text: pageHeading,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Money claims",
            text: "Money claims",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Claims for when you are owed money or responding to money claims against you."
            }
          },
          {
            value: "Probate",
            text: "Probate",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Settlement and disputes over a deceased person's property, money and possessions."
            }
          },          
          {
            value: "Housing possession",
            text: "Housing possession",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Tenant evictions and rental disputes."
            }
          },
          {
            value: "Bankruptcy",
            text: "Bankruptcy",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Opposing a bankruptcy petition, support for a person at risk of violence order, canceling a bankruptcy."
            }
          },          
          {
            value: "Benefits",
            text: "Benefits",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Appealing entitlement to benefits such as Personal Independence Payment (PIP), Employment and Support Allowance (ESA) or Universal Credit."
            }
          },
          {
            value: "Claims against employers",
            text: "Claims against employers",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Appealing a decision about employment disputes related to pay, unfair dismissal and discrimination."
            }
          },
          {
            value: "Tax",
            text: "Tax",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Appealing a tax decision."
            }
          },
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}

<!--
      {{ govukDetails({
        summaryText: "If you need help with this tool",
        html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
      }) }}
-->

    </form>
  </div>
</div>
{% endblock %}
