<!-- 2.xb death, marriages or civil partnerships -->
{% extends "layout.html" %}
{% block pageTitle %}
  Choose a service area - deaths, marriages and civil partnerships - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/choose-area" method="post" novalidate>  

      {{ govukRadios({
        idPrefix: "choose-service-area",
        name: "choose-service-area",
        fieldset: {
          legend: {
            text: "What kind of help do you need with probate, divorce or ending civil partnerships",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Probate",
            text: "Probate",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Applying for probate, storing a will, settlement and disputes over a deceased person's property, money and possessions"
            }
          },
          {
            value: "Divorce",
            text: "Divorce",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Ending a marriage, getting a legal separation or help with money, property and children during a divorce."
            }
          },
          {
            value: "Civil partnership",
            text: "Civil partnership",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Ending a civil partnership."
            }
          },
          {
            value: "Forced marriage",
            text: "Forced marriage",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Being made to marry against your will."
            }
          },
          {
            divider: "or"
          },
          {
            value: "other",
            text: "I can't find what I'm looking for",
            label: {
              classes: "govuk-label--s"
            }
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
