{% extends "layout.html" %}

{% block pageTitle %}
Bury St Edmunds Regional Divorce Centre - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Bury St Edmunds Regional Divorce Centre"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Bury St Edmunds Regional Divorce Centre</h1>
    <p class="govuk-body-m">
      <span class="govuk-!-font-weight-bold">Types of cases heard:</span> Divorce
    </p>
    <p class="govuk-body-m" >
      There are eleven regional divorce centres across England and Wales who administer and manage divorce case that have been applied online and by post.
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <img src="/public/images/bury-st-edmunds-dc.jpg" alt="Front view of Bury St Edmunds Regional Divorce Centre">
    <p class="govuk-body-s">Bury St Edmunds Regional Divorce Centre</p>  
  </div>

</div>

<!-- Tabs for content -->


{% set visitOrContactUsHtml %}

  <h2 class="govuk-heading-l">
    Contact us
  </h2>

  <h3 class="govuk-heading-s">
    Opening times
  </h3>
  <p class="govuk-body-m">
    Telephone Enquiries: Monday to Friday, 8.30am - 5pm
  </p>

  <h3 class="govuk-heading-s">
    Telephone
  </h3>
  <p class="govuk-body-m">
    Please have your case number to hand when you call about an existing case. If you wish to pay via credit or debit card, please include your phone number with your application.
  </p>
  <p class="govuk-body-m">
    Enquiries: 0300 303 0642
  </p>

  <h3 class="govuk-heading-s">
    Emails
  </h3>
  <p class="govuk-body-m">
    Enquiries: <a href="mailto:divorceunitbse@justice.gov.uk">divorceunitbse@justice.gov.uk</a>
  </p>


{% endset -%}

{% set onlineServicesHtml %}
  <h2 class="govuk-heading-l">Online services</h2>
  <p class="govuk-body-m"><a href="#">Adoptions</a>: Advice and online application to adopt a child through your local council.
  </p>
  <p class="govuk-body-m"><a href=" ">Bankruptcy</a>: Advice and guidance with link to apply for bankruptcy.
  </p>
  <p class="govuk-body-m"><a href=" ">Divorce</a>: Eligibility check and online application.
  </p>
  <p class="govuk-body-m"><a href=" ">Employment</a>: Overview of what an employment tribunal does.
  </p>
  <p class="govuk-body-m"><a href=" ">Forced Marriage</a>: Apply for a forced marriage protection order.
  </p>
  <p class="govuk-body-m"><a href=" ">Housing protection</a>: Overview and guidance on evicting tenants.
  </p>
  <p class="govuk-body-m"><a href=" ">Money claims</a>: How to make a court claim for money and how to make a money claim online
  </p>
  <p class="govuk-body-m"><a href=" ">Social Security</a>: Overview of what a social security and child support (first-tier) tribunal does.
  </p>
{% endset -%}

{% set informationForStaffHtml %}
  <h2 class="govuk-heading-l">Information for staff</h2>
  
  <p class="govuk-body-m govuk-!-font-weight-bold">
    DX:<span class="govuk-body-m"> 97640 Bury St Edmunds 3</span>
  </p>

{% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTabs({
      items: [
        {
          label: "Contact us",
          id: "visit-or-contact-us",
          panel: {
            html: visitOrContactUsHtml
          }
        },
        {
          label: "Online services",
          id: "online-services",
          panel: {
            html: onlineServicesHtml
          }
        },
        {
          label: "Information for staff",
          id: "information-for-staff",
          panel: {
            html: informationForStaffHtml
          }
        }
      ]
    }) }}
  </div>
</div>


{% endblock %}
