{% extends "layout.html" %}

{% block pageTitle %}
Individual court or tribunal page - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Court or Tribunal"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{displayCourtName}}
    </h1>

    <h2 class="govuk-heading-l">
      Visit or contact us
    </h2>

    <h3 class="govuk-heading-s">
      Address
    </h3>

    <p class="govuk-body-l">
      Visit us:
    </p>
    <p class="govuk-body-m">
    {{displayCourtAddressVisitBuilding}}
    </br>{{displayCourtAddressVisitStreet1}}
    {% if displayCourtAddressVisitStreet2 %}
      </br>{{displayCourtAddressVisitStreet2}}
    {% endif %}
  
    </br>{{displayCourtAddressVisitTown}}
    </br>{{displayCourtAddressVisitPostcode}}

    {% if displayCourtAddressWriteBuilding %}
    <p class="govuk-body-l">
      Write to us:
    </p>
    <p class="govuk-body-m">

      {{displayCourtAddressVisitBuilding}}
      </br>{{displayCourtAddressVisitStreet1}}
        {% if displayCourtAddressVisitStreet2 %}
          </br>{{displayCourtAddressVisitStreet2}}
        {% endif %}
    
      </br>{{displayCourtAddressVisitTown}}
      </br>{{displayCourtAddressVisitPostcode}}
    {% endif %}

    </p>
    <p class="govuk-link"><a href="https://maps.google.com/maps?q=51.4561376280813,-0.967403324249227">Get directions</a>
    </p>
    <p class="govuk-link"><a href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal">What to expect coming to a court or tribunal</a>
    </p>

  </div>
  
  <div class="govuk-grid-column-one-third">

    <img src="/public/images/reading-ccfc.jpeg" alt="Front view of Reading County Court and Family Court">
    <p class="govuk-body-s">{{displayCourtName}}</p>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-s">
      Opening times
    </h3>
    <p class="govuk-body-m">
      Court Building: Monday to Friday, 9am to 5pm
    </p>
    <p class="govuk-body-m">
      Court counter: By prior appointment only for urgent Civil and Family Applications
    </p>

    <h3 class="govuk-heading-s">
      Telephone and fax
    </h3>
    <p class="govuk-body-m">
      Telephone: 01234 567 8910
    </p>
    <p class="govuk-body-m">
      Monday - Friday, 10am to 2pm (except public holidays)
    </p>
    <p class="govuk-link"><a href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>

    <p class="govuk-body-m">
      Fax: 01987 654 321
    </p>

    <h3 class="govuk-heading-s">
      Emails
    </h3>
    <p class="govuk-body-m">
      Check when your hearing will take place: <a href="mailto:hearings.courtname.countycourt@justice.gov.uk">hearings.courtname.countycourt@justice.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">
      Building facilities
    </h2>
    <p class="govuk-body-m">
      If you have a disability and need help coming to a hearing, please contact <a href="mailto:enquiries.courtname@justice.gov.uk">enquiries.courtname@justice.gov.uk</a> or 01234 567 890.
    </p>

    {{ govukTable({
      rows: [
        [
          {
            text: "Parking"
          },
          {
            text: "No parking facilities are available. The court is in the town centre near the train and bus stations. There is city centre parking within walking distance"
          }
        ],
        [
          {
            text: "Disabled access"
          },
          {
            text: "This building has a ramp to the building entrance, a lift between the ground floor and the first floor, and level access in to court rooms and hearing rooms."
          }
        ],
        [
          {
            text: "Assistance dogs"
          },
          {
            text: "Assistance dogs are welcome"
          }
        ],
        [
          {
            text: "Hearing loop"
          },
          {
            html: "<p>The building has hearing enhancement facilities available by prior arrangement.  Please contact the <a href='mailto:enquiries.courtname.countycourt@justice.gov.uk'>Court office.</a></p>"
          }
        ],
        [
          {
            text: "Children"
          },
          {
            html: "<p>This Court has a childrens room facility.</p><p>Baby changing facilities are available in the disabled toilets on the fourth floor</p>"
          }
        ],
        [
          {
            text: "Translators or Interpreters"
          },
          {
            html: "<p><a href='https://www.gov.uk/get-interpreter-at-court-or-tribunal'>Get an interpreter at a court or tribunal</a></p>"
          }
        ]
      ]
    }) }}
  </div>
   <div class="govuk-grid-column-one-third">
    
     <h3 class="govuk-heading-s">
      Cases heard at this venue
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Adoption</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Bankruptcy</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Children</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Divorce hearings</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Domestic violence</a>
      </li>      
      <li>
        <a class="govuk-link" href="#">Forced marriage and FGM</a>
      </li>
      <li>
        <a class="govuk-link" href="#">High Court District Registry</a>
      </li>       
      <li>
        <a class="govuk-link" href="#">Housing possession</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Housing possession</a>
      </li>      
      <li>
        <a class="govuk-link" href="#">Money claims</a>
      </li>
    </ul>

    <p class="govuk-body-m govuk-!-font-weight-bold">
      Court Location Code:<span class="govuk-body-m"> 305</span>
    </p>
    <p class="govuk-body-m govuk-!-font-weight-bold">
      DX:<span class="govuk-body-m"> 98010 Reading 6</span>
    </p> 
  </div>
  
</div>



{% endblock %}
