{% extends "layout.html" %}

{% block pageTitle %}
Individual court or tribunal page - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Court or Tribunal"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}
{% if regionalCentre %}
  {% set catchmentArea = "the South-East of England" %}
{% else %}
  {% set catchmentArea = "all of England and Wales" %}
{% endif %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">      
      {{courtName}}
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    {% if ctscFlag %}
      <p class="govuk-body-m">
        This location services {{catchmentArea}} for {{serviceArea}}. We do not provide an in-person service.
      </p>
      <h2 class="govuk-heading-l">
        Contact us      
      </h2>


      <h3 class="govuk-heading-m">
        Write to us:
      </h3>

      <p class="govuk-body-m">
        {{courtWriteAddress1}}
        {% if courtWriteAddress2 %}
          </br> {{courtWriteAddress2}}
        {% endif %}
        {% if courtWriteAddress3 %}
          </br> {{courtWriteAddress3}}
        {% endif %}
        </br> {{courtWriteTown}}
        </br> {{courtWritePostcode}}

      </p>

    {% endif %}

    {% if courtVisitWriteAddress and (not ctscFlag) %}

      <h2 class="govuk-heading-l">
        Visit or contact us:
      </h2>


      <h3 class="govuk-heading-m">
        Address
      </h3>
      
      <p class="govuk-body-m">

        {{courtVisitAddress1}}
        {% if courtVisitAddress2 %}
          </br> {{courtVisitAddress2}}
        {% endif %}
        {% if courtVisitAddress3 %}
          </br> {{courtVisitAddress3}}
        {% endif %}
        </br> {{courtVisitTown}}
        </br> {{courtVisitPostcode}}
        </br>

      </p>
    {% endif %}

    {% if courtSeparateAddress %}
    <div class="govuk-grid-column-one-half" style="padding-left: 0px">

      <h2 class="govuk-heading-l">
        Visit us:
      </h2>

      <p class="govuk-body-m">

        {{courtVisitAddress1}}
        {% if courtVisitAddress2 %}
          </br> {{courtVisitAddress2}}
        {% endif %}
        {% if courtVisitAddress3 %}
          </br> {{courtVisitAddress3}}
        {% endif %}
        </br> {{courtVisitTown}}
        </br> {{courtVisitPostcode}}

      </p>
    </div>

    <div class="govuk-grid-column-one-half" style="padding-left: 0px">

      <h2 class="govuk-heading-l">
        Write to us:
      </h2>

      <p class="govuk-body-m">

        {{courtWriteAddress1}}
        {% if courtWriteAddress2 %}
          </br> {{courtWriteAddress2}}
        {% endif %}
        {% if courtWriteAddress3 %}
          </br> {{courtWriteAddress3}}
        {% endif %}
        </br> {{courtWriteTown}}
        </br> {{courtWritePostcode}}

      </p>
    </div>
    {% endif %}  
    {% if not ctscFlag%}
    <p class="govuk-link">
      <a href="{{courtGoogleMapsLocation}}">Get directions</a>
    </p>
    <p class="govuk-link">
      <a href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal">What to expect coming to a court or tribunal</a>
    </p>
    {% endif %}



    {% if courtUrgentInfo %}

      {{ govukWarningText({
        text: courtUrgentInfo,
        iconFallbackText: "Warning"
      }) }}

    {% endif %}

    {% if courtAdditionalInfo %}

      <h3 class="govuk-heading-m">
        Additional Information
      </h3>

      <p class="govuk-body-m">
        {{courtAdditionalInfo}}
      </p>

    {% endif %}

    {% if ctscFlag %}

      <h4 class="govuk-heading-s">
        Telephone and fax
      </h4>
      <p class="govuk-body-m">
       Telephone: {{courtPhoneEnquiries}}
      </br>
        Monday to Friday, 8:30am to 5pm
      </p>
      <p class="govuk-body-m">
        Welsh language: 0300 303 5174
        <br />
        Monday to Friday, 9am to 5pm
      </p>
      <p class="govuk-body-m">
        Fax: 01264 347985
      </p>
      <p class="govuk-body-m">
      <a href="https://www.gov.uk/call-charges">
        Find out about call charges
      </a>
      </p>
      <p class="govuk-body-m">
      <a href="https://www.gov.uk/guidance/hmcts-civil-business-centres-performance-information">
        Processing or reply times
      </a>
      </p>    

      <h4 class="govuk-heading-s">
        Email
      </h4>
      <p class="govuk-body-m">
        Send us your documents: <a href="mailto:">{{courtEmailEnquiries}}</a>
        <br />
        {% if (not sjsService) or (not crimeService) %}

          Get an update with your application: <a href="mailto:">{{courtEmailEnquiries}}</a>
      
        {% else %}
          Get an update on your case: <a href="mailto:">{{courtEmailEnquiries}}</a>
        {% endif %}
      </p>

      {% if probateServiceAtCourt %}
        <h4 class="govuk-heading-s" >
          Webchat
        </h4>
        <p class="govuk-body"><a href="https://www.tax.service.gov.uk/ask-hmrc/webchat/probate">Speak to an adviser online</a> about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>whether or not you need probate</li>
          <li>what forms to fill in</li>
          <li>help and advice when filling the forms in</li>
        </ul>
      {% endif %}
    </div>
    {% else %}
      {% if courtSeparateAddress %}

        <h2 class="govuk-heading-l">
          Contact us
        </h2>
      {% endif %}


      <h3 class="govuk-heading-m">
        Opening times
      </h3>
      {% for details in openingTimes %}

      <p class="govuk-body-m">
        {{details.openingDescription}}: {{details.openingHours}}
      </p>

      {% endfor %}
      <div>
        <h3 class="govuk-heading-m">
          Email
        </h3>

        {% for details in emailDetails %}
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
              <p class="govuk-body-m">
               {{details.emailDescription}}
              </p>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body-m" style="word-wrap: break-word"> <a href="mailto:{{details.emailAddress}}">
              {{details.emailAddress}}</a>
                {% if details.phoneExplanation %}
                </br>
                <p class="govuk-body-m">      
                  ({{details.emailExplanation}})
                </p>
                {% endif %}
              </p>
            </div>
          </div>

        {% endfor %}
      </div>
      <div>

        <h3 id="court-office" class="govuk-heading-m">
          Telephone
        </h3>

        {% for details in phoneDetails %}
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
              <p class="govuk-body-m">
               {{details.phoneDescription}}
              </p>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body-m"><a href="tel:{{details.phoneNumber}}">
               {{details.phoneNumber}}</a>
              {% if details.phoneExplanation %}
                </br>
                  ({{details.phoneExplanation}})
                </p>
                {% endif %}
              </p>
            </div>
          </div>

        {% endfor %}
      </div>
      <div>
        <h3 class="govuk-heading-m">
          Building facilities
        </h3>

        <p class="govuk-body-m">
          If you have a disability and need help coming to a hearing, please contact <a href="mailto:">{{courtEmailEnquiries}}</a> or {{courtPhoneEnquiries}}.
        </p>

        <h4 class="govuk-heading-s">
          Parking
        </h4>
        <p class="govuk-body-m">
          No parking facilities are available. The court is in the town centre near the train and bus stations.
        </p>

        <h4 class="govuk-heading-s">
          Disabled access
        </h4>
        <p class="govuk-body-m">
          This building has a ramp to the building entrance, a lift between the ground floor and the first floor, and level access into courtrooms and hearing rooms.
        </p>

        <h4 class="govuk-heading-s">
          Assistance dogs
        </h4>
        <p class="govuk-body-m">
          Assistance dogs are welcome.
        </p>

        <h4 class="govuk-heading-s">
          Disabled toilet
        </h4>
        <p class="govuk-body-m">
          The disabled toilet is located on the first floor.
        </p>

        <h4 class="govuk-heading-s">
          Hearing loop
        </h4>
        <p class="govuk-body-m">
          The building has hearing enhancement facilities available by prior arrangement with the <a href="#court-office">Court office</a>.
        </p>

        <h4 class="govuk-heading-s">
          Food and drink
        </h4>
        <p class="govuk-body-m">
          Food and drink are available. Cafe opening times: Monday to Friday, 9am to 2pm.
        </p>

        <h4 class="govuk-heading-s">
          Children
        </h4>
        <p class="govuk-body-m">
          Baby changing facilities are available in the disabled toilets on the fourth floor.
        </p>

        <h4 class="govuk-heading-s">
          Prayer or Quiet room
        </h4>
        <p class="govuk-body-m">
          There is a prayer or quiet room available on the first floor.
        </p>

        <h4 class="govuk-heading-s">
          Translators or Interpreters
        </h4>
        <p class="govuk-body-m">
          <a href="https://www.gov.uk/get-interpreter-at-court-or-tribunal">Get an interpreter at a court or tribunal.</a>
        </p>
      </div>
     </div>
   {% endif %}



  <div class="govuk-grid-column-one-third">
    {% if not ctscFlag %}

    <img src="{{courtImgLoc}}" alt="Front view of {{courtName}}">
    <p class="govuk-body-s">
      {{courtName}}
    </p>

    {% endif %}

    {% if ctscFlag %}

      {% if probateService or divorceService or civilPartnershipService or moneyClaimsService %}

        <h2 class="govuk-heading-m" >
          Related content
        </h2>

        <p class="govuk-body-m">

          Find out more about</br>
          {% if moneyClaimsService %}
              <a class="govuk-link" href="https://www.gov.uk/make-court-claim-for-money">starting a money claim application</a>
          {% endif%}
          {% if divorceService %}
            <a class="govuk-link" href="https://www.gov.uk/divorce">starting a divorce application</a>
            </br>
          {% endif%}
          {% if civilPartnershipService %}
            <a class="govuk-link" href="https://www.gov.uk/end-civil-partnership">ending a civil partnership</a>  
          {% endif%}
          {% if probateService %}
              <a class="govuk-link" href="https://www.gov.uk/applying-for-probate">starting a probate application</a>
          {% endif%}

        </p>
      {% endif %}

    {% else %}
    
    <h3 class="govuk-heading-m">
      This location handles:
    </h3>
    <ul class="govuk-list">
 
      {% for details in serviceAreasAtCourt %}
        <li>
          <a class="govuk-link" href={{details.url}}>{{details.service}}</a>
        </li>
      {% endfor %}

      {% if crimeServiceAtCourt %}
        <li>
          Crime
        </li>
      {% endif %}
      {% if highCourtServiceAtCourt %}
        High Court
      {% endif %}
      </ul>
    {% endif %}

      <h3 class="govuk-heading-m">
        Make a complaint
      </h3>
      <p class="govuk-body-m">
        <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">   
        Contact us to make a complaint</a>
      </p>

      <h3 class="govuk-heading-m">
        Court codes for legal professionals:
      </h3>

      {%if courtCodeCounty %}
        <p class="govuk-body-m">
          County Court location code:<span class="govuk-body-m"> {{courtCodeCounty}}</span>
        </p>
      {% endif %}
      
      {%if courtCodeCrown %}
        <p class="govuk-body-m">
          Crown Court location code:<span class="govuk-body-m"> {{courtCodeCrown}}</span>
        </p>
      {% endif %}

      {% if courtCodeMagistrates %}
        <p class="govuk-body-m">
          Magistrates' Court location code:<span class="govuk-body-m"> {{courtCodeMagistrates}}</span>
        </p>
      {% endif %}

      {% if courtDXNumber %}

        <p class="govuk-body-m">
          DX:<span class="govuk-body-m"> {{courtDXNumber}}</span>
        </p> 
      {% endif %}

      {% if not ctscFlag %}
        <h3 class="govuk-heading-m">
          Professional users’ court and tribunal access scheme
        </h3>

        {% if PUAS %}
          <p class="govuk-body-m">
            This location participates in this scheme.
          </br>
          <p class="govuk-body-m">
            <a href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
              Register for the scheme
            </a>
          </p>
        {% else %}
          <p class="govuk-body-m">
            This location does not participates in this scheme.
          </br> 
            <a href="https://www.gov.uk/guidance/professional-users-court-and-tribunal-access-scheme">
              Learn about the scheme
            </a>
          </p>
        {% endif %}   
      {% endif %}   
  </div>
</div>
{% endblock %}
