{% extends "layout.html" %}

{% block pageTitle %}
Reading County Court and Family Court - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Reading County Court and Family Court"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Reading County Court and Family Court</h1>
    <p class="govuk-body-m">
      <span class="govuk-!-font-weight-bold">Types of cases heard:</span> Adoption, Bankruptsy, Children, Divorce, Domestic violence, Forced Marriage and FGM, High Court District Registry, Housing Possession, Money Claims
    </p>
    <p class="govuk-body-m" >
      A County Court deals with civil law cases - so disputes between two parties for example over a property,  over a contract or over a personal injury. It does not handle criminal cases. Most matters are decided by a district judge or a circuit judge. There are no juries.
    </p>
    <p class="govuk-body-m">
      A Family Court helps families avoid disputes or if they should arise to resolve those problems quickly. 
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <img src="/public/images/reading-ccfc.jpeg" alt="Front view of Reading County Court and Family Court">
    <p class="govuk-body-s">Reading County and Family Court</p>  
  </div>

</div>

<!-- Tabs for content -->


{% set visitOrContactUsHtml %}

  <h2 class="govuk-heading-l">
    Visit or contact us
  </h2>
  <h3 class="govuk-heading-s">
    Opening times
  </h3>
  <p class="govuk-body-m">
    Court Building: Monday - Friday, 9am to 5pm (except public holidays)
  </p>
  <p class="govuk-body-m">
    Telephone: Monday - Friday, 9am - 5pm (except public holidays)
  </p>

  {{ govukInsetText({
    text: "Court counter services are by appointment only. You will not be able to deliver an application unless you make an appointment on 01189 870 500"
  }) }}

  <h3 class="govuk-heading-s">Address</h3>
  <p class="govuk-body-m">
    You can visit and write to us at the following address:</br>Hearing Centre</br>160 - 163 Friar Street</br>Reading</br>RG1 1HE
  </p>

  <p class="govuk-link"><a href="https://maps.google.com/maps?q=51.4561376280813,-0.967403324249227">
    Maps and directions</a>
  </p> 

  <h3 class="govuk-heading-s">
    Telephone
  </h3>
  <p class="govuk-body-m">
    Enquiries: 01189 870 500
  </p>

  <h3 class="govuk-heading-s">
    General emails
  </h3>
  <p class="govuk-body-m">
    Enquires: enquiries.reading.countycourt@justice.gov.uk
  </p>
  <p class="govuk-body-m">
    Listings: hearings.reading.countycourt@justice.gov.uk
  </p>
  <h3 class="govuk-heading-s">
    Service emails</h3>
  <p class="govuk-body-m">
    Court of protection: courtofprotection.reading.countycourts@justice.gov.uk
  </p>
  <p class="govuk-body-m">
    Bailiffs: baliffs.reading.countycourts@justice.gov.uk
  </p>
  <p class="govuk-body-m">
    Family queries: family.reading.countycourts@justice.gov.uk
  </p>


{% endset -%}

{% set facilitiesHtml %}
  <h2 class="govuk-heading-l">
    Facilities
  </h2>
  <p class="govuk-body-m">
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>

  {{ govukTable({
  firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Parking"
        },
        {
          text: "No parking facilities on site. The court is in the town centre near the train and bus stations. There is city centre parking within walking distance"
        }
      ],
      [
        {
          text: "Access"
        },
        {
          text: "This building has a ramp to the building entrance, a lift between the ground floor and the first floor, and level access in to court rooms and hearing rooms."
        }
      ],
      [
        {
          text: "Assistance dogs"
        },
        {
          text: "Assistance dogs are welcome"
        }
      ],
      [
        {
          text: "Hearing loop"
        },
        {
          text: "The building has hearing enhancement facilities available by prior arrangement.  Please contact the Court office by telephone or email if necessary."
        }
      ],
      [
        {
          text: "Meeting Room"
        },
        {
          text: "There are 10 rooms available at this court."
        }
      ],
      [
        {
          text: "Children"
        },
        {
          html: "<p>This Court has a childrens room facility.</p><p>Baby changing facilities are available in the disabled toilets on the fourth floor</p>"
        }
      ],
      [
        {
          text: "Video hearings"
        },
        {
          html: "<p>Court/hearing room video conferencing facilities are available (by prior arrangement).</p><p>Virtual visits may be accommodated by prior arrangement. Client consultation is only available for hearings due to take place at Reading, during the course of the hearing.</p>"
        }
      ]
    ]
  }) }}


{% endset -%}

{% set usefulLinksHtml %}
  <h2 class="govuk-heading-l">Useful links</h2>
  <p class=govuk-body-m> 
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>
  <p class="govuk-body-m">
    Lorem ipsum dolor sit amet, <a href="#">security when entering the building</a> consectetur adipiscing elit. Aenean euismod bibendum laoreet.
  </p>
  <p class="govuk-body-m">
    Proin gravida dolor sit amet lacus accumsan et <a href="#">coming to a court or tribunal.</a>
  </p>
  <p class="govuk-body-m">
    <a href="#">Find a form</a> viverra justo commodo.
  </p>
  <p class="govuk-body-m">
    Proin sodales pulvinar sic tempor. <a href="#">make a complaint</a> Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
  <p class="govuk-body-m">
    Nam fermentum, <a href="#">equality and diversity</a> divnulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
  </p>
{% endset -%}

{% set onlineServicesHtml %}
  <h2 class="govuk-heading-l">Online services</h2>
  <p class="govuk-body-m"><a href="#">Adoptions</a>: Advice and online application to adopt a child through your local council.
  </p>
  <p class="govuk-body-m"><a href=" ">Bankruptcy</a>: Advice and guidance with link to apply for bankruptcy.
  </p>
  <p class="govuk-body-m"><a href=" ">Divorce</a>: Eligibility check and online application.
  </p>
  <p class="govuk-body-m"><a href=" ">Employment</a>: Overview of what an employment tribunal does.
  </p>
  <p class="govuk-body-m"><a href=" ">Forced Marriage</a>: Apply for a forced marriage protection order.
  </p>
  <p class="govuk-body-m"><a href=" ">Housing protection</a>: Overview and guidance on evicting tenants.
  </p>
  <p class="govuk-body-m"><a href=" ">Money claims</a>: How to make a court claim for money and how to make a money claim online
  </p>
  <p class="govuk-body-m"><a href=" ">Social Security</a>: Overview of what a social security and child support (first-tier) tribunal does.
  </p>
{% endset -%}

{% set informationForStaffHtml %}
  <h2 class="govuk-heading-l">Information for staff</h2>
  
  <p class="govuk-body-m govuk-!-font-weight-bold">
    Court Location Code:<span class="govuk-body-m"> 305</span>
  </p>
  <p class="govuk-body-m govuk-!-font-weight-bold">
    DX:<span class="govuk-body-m"> 98010 Reading 6</span>
  </p>

{% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTabs({
      items: [
        {
          label: "Visit or contact us",
          id: "visit-or-contact-us",
          panel: {
            html: visitOrContactUsHtml
          }
        },
        {
          label: "Facilities",
          id: "facilities",
          panel: {
            html: facilitiesHtml
          }
        },
        {
          label: "Useful links",
          id: "useful-links",
          panel: {
            html: usefulLinksHtml
          }
        },
        {
          label: "Online services",
          id: "online-services",
          panel: {
            html: onlineServicesHtml
          }
        },
        {
          label: "Information for staff",
          id: "information-for-staff",
          panel: {
            html: informationForStaffHtml
          }
        }
      ]
    }) }}
  </div>
</div>


{% endblock %}
