{% extends "layout.html" %}

{% block pageTitle %}
Reading Tribunal Hearing Centre - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Reading Tribunal Hearing Centre"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Reading Tribunal Hearing Centre</h1>
    <p class="govuk-body-m">
      <span class="govuk-!-font-weight-bold">Types of cases heard:</span> Employment
    </p>
    <p class="govuk-body-m" >
      An tribunal is responsible for hearing claims from people who think someone such as an employer or potential employer has treated them unlawfully.
    </p>
    <p class="govuk-body-m" >
      Examples of unlawful treatment claims that we may hear include:
      <ul class="govuk-list govuk-list--bullet">
        <li>
          unfair dismissal
        </li>
        <li>
          discrimination
        </li>
        <li>
          unfair deductions from pay
        </li>
      </ul>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">

    <img src="/public/images/reading-thc.jpg" alt="Front view of Reading Tribunal Hearing Centre">
    <p class="govuk-body-s">Reading Tribunal Hearing Centre</p>  
  </div>

</div>
<!-- Tabs for content -->


{% set visitOrContactUsHtml %}

<h2 class="govuk-heading-l">
  Visit or contact us
</h2>
<h3 class="govuk-heading-s">
  Opening times
</h3>
<p class="govuk-body-m">
  Court Building: 9am to 5pm, on sitting days only
</p>

<p class="govuk-body-m">
  Telephones: 9am to 5pm, on sitting days only
</p>

<h3 class="govuk-heading-s">
  Address to visit
</h3>
<p class="govuk-body-m">
  You can visit us at the following address:</br>2nd Floor</br>30-31 Friar Street</br>Reading</br>RG1 1DX
</p>

<p class="govuk-body-m">
  The entrance is on Merchants Place
</p>

<p class="govuk-link"><a href="https://maps.google.com/maps?q=51.457050, -0.9732981">
  Maps and directions</a>
</p> 

<h3 class="govuk-heading-s">
Address to write or send documents
</h3>

<p class="govuk-body-m">
  You can write to us at the following address. This is the regional administration centre for the area and where all of our case are managed from.
</p>
<p class="govuk-body-m">
  Watford Employment Tribunal
</br>
  Radius House
</br>
  51 Clarendon Road
</br>
  Watford
</br>
  WD17 1HP
</p>

<h3 class="govuk-heading-s">
  Telephone
</h3>
<p class="govuk-body-m">
  Enquiries: 01923 281750
</p>

<h3 class="govuk-heading-s">
  Email
</h3>

<p class="govuk-body-m">
  Enquires: <a href="mailto:Watfordet@justice.gov.uk">Watfordet@justice.gov.uk</a>
</p> 
<p class="govuk-body-m">
  We aim to respond within 2 working days
</p>

{% endset -%}

{% set facilitiesHtml %}
  <h2 class="govuk-heading-l">
    Facilities
  </h2>
  <p class="govuk-body-m">
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>

  {{ govukTable({
  firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Access"
        },
        {
          text: "This building is accessible and has toilet facilities for people with disabilities."
        }
      ],
      [
        {
          text: "Assistance dogs"
        },
        {
          text: "Assistance dogs are welcome"
        }
      ],
      [
        {
          text: "Meeting Room"
        },
        {
          text: "Private interview rooms are available"
        }
      ],
      [
        {
          text: "Refreshments"
        },
        {
          text: "Refreshments are available"
        }
      ]
    ]
  }) }}


{% endset -%}

{% set usefulLinksHtml %}
  <h2 class="govuk-heading-l">Useful links</h2>
  <p class=govuk-body-m> 
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>
  <p class="govuk-body-m">
    Lorem ipsum dolor sit amet, <a href="#">security when entering the building</a> consectetur adipiscing elit. Aenean euismod bibendum laoreet.
  </p>
  <p class="govuk-body-m">
    Proin gravida dolor sit amet lacus accumsan et <a href="#">coming to a court or tribunal.</a>
  </p>
  <p class="govuk-body-m">
    <a href="#">Find a form</a> viverra justo commodo.
  </p>
  <p class="govuk-body-m">
    Proin sodales pulvinar sic tempor. <a href="#">make a complaint</a> Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
  <p class="govuk-body-m">
    Nam fermentum, <a href="#">equality and diversity</a> divnulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
  </p>
{% endset -%}

{% set onlineServicesHtml %}
  <h2 class="govuk-heading-l">Online services</h2>
  <p class="govuk-body-m"><a href="#">Adoptions</a>: Advice and online application to adopt a child through your local council.
  </p>
  <p class="govuk-body-m"><a href=" ">Bankruptcy</a>: Advice and guidance with link to apply for bankruptcy.
  </p>
  <p class="govuk-body-m"><a href=" ">Divorce</a>: Eligibility check and online application.
  </p>
  <p class="govuk-body-m"><a href=" ">Employment</a>: Overview of what an employment tribunal does.
  </p>
  <p class="govuk-body-m"><a href=" ">Forced Marriage</a>: Apply for a forced marriage protection order.
  </p>
  <p class="govuk-body-m"><a href=" ">Housing protection</a>: Overview and guidance on evicting tenants.
  </p>
  <p class="govuk-body-m"><a href=" ">Money claims</a>: How to make a court claim for money and how to make a money claim online
  </p>
  <p class="govuk-body-m"><a href=" ">Social Security</a>: Overview of what a social security and child support (first-tier) tribunal does.
  </p>
{% endset -%}

{% set informationForStaffHtml %}
  <h2 class="govuk-heading-l">Information for staff</h2>

  <p class="govuk-body-m govuk-!-font-weight-bold">
    DX:<span class="govuk-body-m"> 155650 Watford 3</span>
  </p>

{% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTabs({
      items: [
        {
          label: "Visit or contact us",
          id: "visit-or-contact-us",
          panel: {
            html: visitOrContactUsHtml
          }
        },
        {
          label: "Facilities",
          id: "facilities",
          panel: {
            html: facilitiesHtml
          }
        },
        {
          label: "Useful links",
          id: "useful-links",
          panel: {
            html: usefulLinksHtml
          }
        },
        {
          label: "Online services",
          id: "online-services",
          panel: {
            html: onlineServicesHtml
          }
        },
        {
          label: "Information for staff",
          id: "information-for-staff",
          panel: {
            html: informationForStaffHtml
          }
        }
      ]
    }) }}
  </div>
</div>

{% endblock %}
