{% extends "layout.html" %}

{% block pageTitle %}
Reading Crown Court - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "Reading Crown Court"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Reading Crown Court</h1>
    <p class="govuk-body-m">
      <span class="govuk-!-font-weight-bold">Types of cases heard:</span> Crime
    </p>
    <p class="govuk-body-m" >
      A Crown Court is a criminal court and deals with serious crimes such a murder, drug trafficking, rape and robbery. I also deals with appeals against a magistrates’ court conviction. Also a case may be passed from a magistrates court for sentencing.
    </p>
    <p class="govuk-body-m" >
      A Crown Court normally has a jury and a judge who decides what sentence you will get.
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <img src="/public/images/reading-cc.jpg" alt="Front view of Reading Crown Court">
    <p class="govuk-body-s">Reading Crown Court</p>  
  </div>

</div>

<!-- Tabs for content -->


{% set visitOrContactUsHtml %}

  <h2 class="govuk-heading-l">
    Visit or contact us
  </h2>
  <h3 class="govuk-heading-s">
    Opening times
  </h3>
  <p class="govuk-body-m">
    Court Building: Monday to Friday, 8.30am to 5.30pm (except public holidays)
  </p>
  <p class="govuk-body-m">
    Counter Services: Monday to Fridays 9am to 5pm.
  </p>

  <h3 class="govuk-heading-s">Address</h3>
  <p class="govuk-body-m">
    You can visit and write to us at the following address:
  </p>
  <p class="govuk-body-m">
    Old Shire Hall</br>The Forbury</br>Reading</br>RG1 3EH
  </p>

  <p class="govuk-link"><a href="https://maps.google.com/maps?q=51.4561376280813,-0.967403324249227">
   Maps and directions</a>
  </p> 

  <h3 class="govuk-heading-s">
    Telephone
  </h3>
  <p class="govuk-body-m">
    Enquiries: 0118 967 4400
  </p>

  <h3 class="govuk-heading-s">
    Email
  </h3>
  <p class="govuk-body-m">
    Enquires: <a href="mailto:enquiries.reading.crowncourt@justice.gov.uk">enquiries.reading.crowncourt@justice.gov.uk</a>
  </p>
  </p>
  <p class="govuk-body-m">
    We aim to respond within 2 working days
  </p>

  <h3 class="govuk-heading-s">
    If you are on jury service
  </h3>
  <p class="govuk-body-m">
    Jury service: 0118 967 4501
  </p>

  <h3 class="govuk-heading-s">
    If you are a witness
  </h3>
  <p class="govuk-body-m">
    Witness service: 0300 332 1000
  </p>

{% endset -%}

{% set facilitiesHtml %}
  <h2 class="govuk-heading-l">
    Facilities
  </h2>
  <p class="govuk-body-m">
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>

  {{ govukTable({
  firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Parking"
        },
        {
          html: "<p>There is no parking available but parking for blue badge holders can be arranged by calling the Enquiries telephone number.</p><p>The court is in the town centre near the train and bus stations. There is city centre parking within walking distance.</p>"
        }
      ],
      [
        {
          text: "Access"
        },
        {
          text: "This building has a ramp to the building entrance, a lift between the ground floor and the first floor, and level access in to court rooms and hearing rooms. There is a disabled toilet."
        }
      ],
      [
        {
          text: "Assistance dogs"
        },
        {
          text: "Assistance dogs are welcome"
        }
      ],
      [
        {
          text: "Hearing loop"
        },
        {
          text: "The building has hearing enhancement facilities available by prior arrangement.  Please contact the Court office by telephone or email if necessary."
        }
      ],
      [
        {
          text: "Meeting Room"
        },
        {
          text: "There are nine interview rooms available at this court."
        }
      ],
      [
        {
          text: "Wireless Internet"
        },
        {
          text: "This court has wireless internet access available within the building."
        }
      ],
      [
        {
          text: "Video Conferencing"
        },
        {
          html: "<p>Court/hearing room video conferencing facilities are available (by prior arrangement).</p><p>Virtual visits may be accommodated by prior arrangement. Client consultation is only available for hearings due to take place at Reading, during the course of the hearing.</p>"
        }
      ]
    ]
  }) }}


{% endset -%}

{% set usefulLinksHtml %}
  <h2 class="govuk-heading-l">Useful links</h2>
  <p class=govuk-body-m> 
    If you have a disability and need help coming to a hearing, please contact the court or tribunal to make sure the facilities meet your specific needs or to discuss a reasonable adjustment you need.
  </p>
  <p class="govuk-body-m">
    Lorem ipsum dolor sit amet, <a href="#">security when entering the building</a> consectetur adipiscing elit. Aenean euismod bibendum laoreet.
  </p>
  <p class="govuk-body-m">
    Proin gravida dolor sit amet lacus accumsan et <a href="#">coming to a court or tribunal.</a>
  </p>
  <p class="govuk-body-m">
    <a href="#">Find a form</a> viverra justo commodo.
  </p>
  <p class="govuk-body-m">
    Proin sodales pulvinar sic tempor. <a href="#">make a complaint</a> Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
  <p class="govuk-body-m">
    Nam fermentum, <a href="#">equality and diversity</a> divnulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
  </p>
{% endset -%}

{% set onlineServicesHtml %}
  <h2 class="govuk-heading-l">Online services</h2>
  <p class="govuk-body-m"><a href="#">Adoptions</a>: Advice and online application to adopt a child through your local council.
  </p>
  <p class="govuk-body-m"><a href=" ">Bankruptcy</a>: Advice and guidance with link to apply for bankruptcy.
  </p>
  <p class="govuk-body-m"><a href=" ">Divorce</a>: Eligibility check and online application.
  </p>
  <p class="govuk-body-m"><a href=" ">Employment</a>: Overview of what an employment tribunal does.
  </p>
  <p class="govuk-body-m"><a href=" ">Forced Marriage</a>: Apply for a forced marriage protection order.
  </p>
  <p class="govuk-body-m"><a href=" ">Housing protection</a>: Overview and guidance on evicting tenants.
  </p>
  <p class="govuk-body-m"><a href=" ">Money claims</a>: How to make a court claim for money and how to make a money claim online
  </p>
  <p class="govuk-body-m"><a href=" ">Social Security</a>: Overview of what a social security and child support (first-tier) tribunal does.
  </p>
{% endset -%}

{% set informationForStaffHtml %}
  <h2 class="govuk-heading-l">Information for staff</h2>
  
  <p class="govuk-body-m govuk-!-font-weight-bold">
    Court Location Code:<span class="govuk-body-m"> 449</span>
  </p>
  <p class="govuk-body-m govuk-!-font-weight-bold">
    DX:<span class="govuk-body-m"> 97440 Reading 5</span>
  </p>

{% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTabs({
      items: [
        {
          label: "Visit or contact us",
          id: "visit-or-contact-us",
          panel: {
            html: visitOrContactUsHtml
          }
        },
        {
          label: "Facilities",
          id: "facilities",
          panel: {
            html: facilitiesHtml
          }
        },
        {
          label: "Useful links",
          id: "useful-links",
          panel: {
            html: usefulLinksHtml
          }
        },
        {
          label: "Online services",
          id: "online-services",
          panel: {
            html: onlineServicesHtml
          }
        },
        {
          label: "Information for staff",
          id: "information-for-staff",
          panel: {
            html: informationForStaffHtml
          }
        }
      ]
    }) }}
  </div>
</div>


{% endblock %}
