{% extends "layout.html" %}

{% block pageTitle %}
County Court Money Claims Centre - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- JHS added in Back Link and removed breadcrumbs -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Previous page",
      href: "#"
    },
    {
      text: "County Court Money Claims Centre"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">County Court Money Claims Centre</h1>
    <p class="govuk-body-m">
      <span class="govuk-!-font-weight-bold">Types of cases heard:</span> Money Claims
    </p>
    <p class="govuk-body-m" >
      County Court Money Claims Centre (CCMCC) is a central small claims court that has been set up to manage and process all money claims up to £10,000 and the fast track service will cover cases between £10,000 and £25,000.
    </p>
    <p class="govuk-body-m">
      The CCMCC is a national service. Enquires can be made by phone or email. Claims can be made on <a href="#">online</a> or in <a href="#">writing</a>. Your local court is no longer able to accept claims forms.
    </p>
  </div>
</div>

<!-- Tabs for content -->


{% set visitOrContactUsHtml %}

  <h2 class="govuk-heading-l">
    Contact us
  </h2>

  <h3 class="govuk-heading-s">
    Opening times
  </h3>
  <p class="govuk-body-m">
    Telephone Enquiries: Monday to Friday, 8.30am - 5pm
  </p>

  <h3 class="govuk-heading-s">
    Telephone
  </h3>
  <p class="govuk-body-m">
    Enquiries: 0300 123 1372
  </p>

  <h3 class="govuk-heading-s">
    Email
  </h3>
  <p class="govuk-body-m">
    Enquires: ccmcccustomerenquiries@justice.gov.uk
  </p>
  <p class="govuk-body-m">
    Filing and records: ccmcce-filing@justice.gov.uk
  </p>

  <h3 class="govuk-heading-s">
    Help claiming online
  </h3>
  <p class="govuk-body-m">
    There are two online claim services. The phone number to use depends on which service you need help with.
  </p>
  <p class="govuk-body-m">
    Money Claim Online (MCOL) for fixed sum under £100,000: ccbc@justice.gov.uk
  </br>
    Telephone: 0300 123 1057
  </p>
  <p class="govuk-body-m">
    Money Claims for claims under £10,000: moneyclaims@justice.gov.uk
  </br>
    Telephone: 0300 123 7050
  </p>

  <h3 class="govuk-heading-s">
    Claim by post
  </h3>
  <p class="govuk-body-m">
    Send it with a cheque for your <a href="#">claim fee to the County Court Money Claims Centre.</a>
  </p>
  <p class="govuk-body-m">
    County Court Money Claims Centre
  </br>
    PO Box 527
  </br>
    Salford
  </br>
    Greater Manchester
  </br>
    M5 0BY
  </p>
  <h3 class="govuk-heading-s">
    Processing time
  </h3>
  <p class="govuk-body-m">
    For details of our processing or reply times please see <a href="#">https://www.gov.uk/guidance/hmcts-civil-business-centres-performance-information</a>.
  </p>

{% endset -%}

{% set onlineServicesHtml %}
  <h2 class="govuk-heading-l">Online services</h2>
  <p class="govuk-body-m"><a href="#">Adoptions</a>: Advice and online application to adopt a child through your local council.
  </p>
  <p class="govuk-body-m"><a href=" ">Bankruptcy</a>: Advice and guidance with link to apply for bankruptcy.
  </p>
  <p class="govuk-body-m"><a href=" ">Divorce</a>: Eligibility check and online application.
  </p>
  <p class="govuk-body-m"><a href=" ">Employment</a>: Overview of what an employment tribunal does.
  </p>
  <p class="govuk-body-m"><a href=" ">Forced Marriage</a>: Apply for a forced marriage protection order.
  </p>
  <p class="govuk-body-m"><a href=" ">Housing protection</a>: Overview and guidance on evicting tenants.
  </p>
  <p class="govuk-body-m"><a href=" ">Money claims</a>: How to make a court claim for money and how to make a money claim online
  </p>
  <p class="govuk-body-m"><a href=" ">Social Security</a>: Overview of what a social security and child support (first-tier) tribunal does.
  </p>
{% endset -%}

{% set informationForStaffHtml %}
  <h2 class="govuk-heading-l">Information for staff</h2>
  
  <p class="govuk-body-m govuk-!-font-weight-bold">
    Court Location Code:<span class="govuk-body-m"> 1076</span>
  </p>
  <p class="govuk-body-m govuk-!-font-weight-bold">
    DX:<span class="govuk-body-m"> 703634 Salford 5</span>
  </p>

{% endset -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTabs({
      items: [
        {
          label: "Visit or contact us",
          id: "visit-or-contact-us",
          panel: {
            html: visitOrContactUsHtml
          }
        },
        {
          label: "Online services",
          id: "online-services",
          panel: {
            html: onlineServicesHtml
          }
        },
        {
          label: "Information for staff",
          id: "information-for-staff",
          panel: {
            html: informationForStaffHtml
          }
        }
      ]
    }) }}
  </div>
</div>


{% endblock %}
