{% extends "layout.html" %}
{% block pageTitle %}
  Choose and area of law - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you",
      href: "search-aol-postcode"
    },
    {
      text: "Choose an area of the law"
    }
  ]
}) }}
{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/choose-service" method="post" novalidate>  

      {{ govukRadios({
        idPrefix: "choose-aol",
        name: "choose-aol",
        fieldset: {
          legend: {
            text: "What is your application or hearing about?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select the option that describes the type of case you are involved in."
        },
        items: [
          {
            value: "adoption",
            text: "Adoption",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "For hearings or to contact a service centre to support your child adoption application."
            }
          },
          {
            value: "bankruptcy",
            text: "Bankruptcy",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "If you need to have a hearing or need to submit legal documents to a court about a bankruptcy"
            }
          },
          {
            value: "children",
            text: "Children",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Child contact issues and disputes over maintenance"
            }
          },
          {
            value: "civil-partnership",
            text: "Civil partnership",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Ending a civil partnership"
            }
          },
          {
            value: "crime",
            text: "Crime",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Being accused of a crime, being a witness, or you were a victim"
            }
          },
          {
            value: "divorce",
            text: "Divorce",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "End a marriage or get a legal separation or help with money, property and children during a divorce."
            }
          },
          {
            value: "domestic-abuse",
            text: "Domestic abuse",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Abuse in the home which occurs in relationships, between family members, such as adolescents to parental violence"
            }
          },
          {
            value: "employment",
            text: "Employment",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Tribunals about workplace disputes including pay, redundancy and discrimination."
            }
          },
          {
            value: "forced-marriage-fgm",
            text: "Forced marriage and Female Genital Mutilation (FGM)",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Being made to marry against your will or undergo female genital mutilation against your will."
            }
          },
          {
            value: "high-court-registry",
            text: "High Court registry",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Find High Courts that deal with the most serious and high profile cases in criminal and civil law"
            }
          },
          {
            value: "housing-possession",
            text: "Housing possession",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Evictions and rental disputes"
            }
          },
          {
            value: "immigration-asylum",
            text: "Immigration and asylum",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Seeking aslyum, right to live in the UK, and appealing deportation"
            }
          },
          {
            value: "money-claims",
            text: "Money claims",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Small claims, consumer, negligence, and personal injury claims. You may have been directed to Find a court or tribunal through a claims form"
            }
          },
          {
            value: "probate",
            text: "Probate",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Settlement and disputes over a deceased person's estate"
            }
          },
          {
            value: "social-security",
            text: "Social security",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Problems with benefits, entitlement, assessment, and decision"
            }
          },
          {
            value: "tax",
            text: "Tax",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "Appealing a tax decision"
            }
          },
          {
            value: "other",
            text: "Other",
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: "If you are unable to find what you are looking for"
            }
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}

<!--
      {{ govukDetails({
        summaryText: "If you need help with this tool",
        html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
      }) }}
-->

    </form>
  </div>
</div>
{% endblock %}
