{% extends "layout.html" %}
{% block pageTitle %}
  Choose and area of law - Find a court or tribunal - GOV.UK
{% endblock %}
{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you",
      href: "search-aol-postcode"
    },
    {
      text: "Choose an area of the law"
    }
  ]
}) }}
{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/" method="post" novalidate>  

      <h1 class="govuk-heading-xl">
        What area of law is your application or court hearing about?
      </h1>
      <p class="govuk-body-m">
        Select an area of law of the court, tribunal or service centre you may need to go to or send your legal documents to.
      </p>

      <ul class="ctf-options-list">
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=adoption" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Adoption</h2>      
            <p class="govuk-body govuk-!-margin-2">
              For hearings or to contact a service centre to support your child adoption application.
            </p>
          </a>
        </li>
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=bankruptcy" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Bankruptcy</h2>      
            <p class="govuk-body govuk-!-margin-2">
              If you need to have a hearing or need to submit legal documents to a court about a bankruptcy
            </p>  
          </a>
        </li>
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=children" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Children</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Child contact issues and disputes over maintenance
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple-div-centre?aol=civilPartnership" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Civil Partnership</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Ending a civil partnership
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=crime" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Crime</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Being accused of a crime, being a witness, or you were a victim
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple-div-centre?aol=divorce" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Divorce</h2>      
            <p class="govuk-body govuk-!-margin-2">
              End a marriage or get a legal separation or help with money, property and children during a divorce.
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=domesticViolence" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Domestic Abuse</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Abuse in the home which occurs in relationships, between family members, such as adolescents to parental violence
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple-ET?aol=employment" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Employment</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Tribunals about workplace disputes including pay, redundancy and discrimination.
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=forcedMarriageFGM" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Forced Marriage and Female Genital Mutilation (FGM)</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Being made to marry against your will or undergo female genital mutilation against your will
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=highCourtRegistry" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">High Court Registry</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Find High Courts that deal with the most serious and high profile cases in criminal and civil law
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-single?aol=housing" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Housing Possession</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Evictions and rental disputes
            </p>  
          </a>
        </li>

        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=immigration" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Immigration</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Seeking aslyum, right to live in the UK, and appealing deportation
            </p>  
          </a>
        </li>
      
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-single-ccmcc?aol=moneyClaims" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Money Claims</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Small claims, consumer, negligence, and personal injury claims. You may have been directed to Find a court or tribunal through a claims form
            </p>  
          </a>
        </li>
      
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=probate" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Probate and Wills</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Settlement and disputes over a deceased person's estate
            </p>  
          </a>
        </li>
      
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=sscs" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Social Security</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Problems with benefits, entitlement, assessment, and decision
            </p>  
          </a>
        </li>
      
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="search-aol-results-multiple?aol=tax" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Tax</h2>      
            <p class="govuk-body govuk-!-margin-2">
              Appealing a tax decision
            </p>  
          </a>
        </li>
      
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="../location/search-location" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Your nearest courts and tribunals</h2>      
            <p class="govuk-body govuk-!-margin-2">
              You just want a list of courts and tribunals that are nearest to where you live, or to a specific postcode
            </p>  
          </a>
        </li>
      </ul>

      </br>

      {{ govukDetails({
        summaryText: "If you need help with this tool",
        html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
