{% extends "layout.html" %}
{% block pageTitle %}
Search for a court, tribunal or service centre near you - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    },
    {
      text: "Choose a search option",
      href: "../choose-search-option"
    },
    {
      text: "Search for locations near you"
    }
  ]
}) }}
{% endif %}

{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="choose-aol" method="post" novalidate>  

      <h1 class="govuk-heading-xl">Search for a court, tribunal or service centre near you</h1>

      <p class="govuk-body-m">
        This will help identify a court or tribunal or service centre near where you live that provides the type of services you are looking for.
      </p>
      <div class="background-box">      
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Enter a postcode
          </label>
          <span id="waste-hint" class="govuk-hint">
            For example, EH1 9SPs
          </span>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="aol-postcode" type="text" autocomplete="postal-code">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
      </br>
        {{ govukDetails({
          summaryText: "If you need help with this tool",
          html: "<p>Telephone: 0300 1234 5678</br>Email: help@gov.uk</p>"
        }) }}
    </form>
  </div>
</div>
{% endblock %}
