<!-- 2.2.1 Visit / Send / Other -->
{% extends "layout.html" %}
{% block pageTitle %}
What do you want to do? - Find a court or tribunal - GOV.UK{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link ctf-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "What do you want to do?",
      href: "../what-do-you-want-to-do"
    },
    {
      text: "Do you want to start or continue a service?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/send-visit-other" method="post" novalidate>  
      {{ govukRadios({
        idPrefix: "what-info-want",
        name: "what-info-want",
        fieldset: {
          legend: {
            text: "What information do you want to find?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [

          {
            label: {
              classes: "govuk-label--s"
            },
            value: "find-nearest",
            text: "I want to find the nearest court to me for a hearing",
            hint: {
              text: "e.g. You know you need to have a hearing but you need to contact a venue to arrange it"
            }
          },
          {
            label: {
              classes: "govuk-label--s"
            },
            value: "send-docs",
            text: "I want to send documents",
            hint: {
              text: "e.g. You have evidence for a hearing that needs to be sent to a court"
            }
          },
          {
            label: {
              classes: "govuk-label--s"
            },
            value: "not-listed",
            text: "It's not listed here",
            hint: {
              text: "For any other reason not shown above"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
<!--
      {{ govukInsetText({
        text: "Check your HMCTS letter or correspondence for contact details of the court or tribunal."
      }) }}

      {{ govukDetails({
        summaryText: "If you need more help",
        html: "<p>Telephone: 0300 1234 567</br>Email: help@gov.uk</p>"
      }) }}
-->
    </form>  
  </div>
</div>

{% endblock %}
