{% extends "layout.html" %}
{% block pageTitle %}
  All pages in the Prototype - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      All the pages in the prototype
    </h1>

    <p class="govuk-body-m">
      This service is designed to help our customers and staff find the information they need about a court or tribunal
    </p>
    <p class="govuk-body-m">
      Use the links below to go to a specific page or start the journey with this big green button</a>
    </p>

    {{ govukButton({
      text: "Start now",
      href: "index",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
    }) }}

    </p>

    <p class="govuk-body-m">
      This prototype uses stored data to pass between the pages. It may be easier to start at the beginning and go through the journey to display the correct information. The numbering refers back to the <a href="https://drive.google.com/file/d/1tTdxhB36DYsFoYsUldbgekcGpxEpdgj8/view?usp=sharing">user flow diagram</a>
    </p>

    <ul class="govuk-list">
      <li><a class="govuk-link" href="index">0.0 Start Page</a></li>
      <li><a class="govuk-link" href="search-option">0.1 Do you have the name or address of the court or tribunal?</a></li>

      <li>Location searching</li>
        <ul style="list-style-type:none;">
          <li><a class="govuk-link" href="location/location-search">1.0 What is the name or address of the court or tribunal?</a></li>
          <ul style="list-style-type:none;">
            <li><a class="govuk-link" href="location/location-search-results-multiple">1.2 Court or tribunal search results</li>
          </ul>
        </ul>

      <li>Area of law searching</li>
        <ul style="list-style-type:none;">
          <li><a class="govuk-link" href="service/service-choose-action">2.0 What do you want to do?</a></li>
          <li><a class="govuk-link" href="service/service-category">2.1 What do you need to contact a court or tribunal about?</a></li>
          <ul style="list-style-type:none;">
            <li><a class="govuk-link" href="service/service-area-money">2.1a What kind of help do you need with Money?</a>
            </li>
            <li><a class="govuk-link" href="service/service-area-probate-divorce-civil-partnerships">2.1b What kind of help do you need with Deaths, marriages or civil partnerships?</a></li>
            <li><a class="govuk-link" href="service/service-area-childcare-parenting">2.1c What kind of help do you need with Childcare and parenting?</li>
            <li><a class="govuk-link" href="service/service-search-postcode">2.2 What is your postcode?</li>
            <li><a class="govuk-link" href="service/service-search-results-multiple">2.3a Court or tribunal search results (nearest)</li>
            <li><a class="govuk-link" href="service/service-search-results-ctsc">2.3b Court or tribunal search results (Service Centre)</li>
          </ul>
        </ul>
 
      <li>Individual location pages</li>
        <p class="govuk-body-m">
          Use the link below for the generic page, change the url query search to match the court you want to view.
        </p>
        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and amounts",
  firstCellIsHeader: true,
  head: [
    {
      text: "Court or Tribunal Name"
    },
    {
      text: "Code"
    }
  ],
  rows: [
    [
      {
        text: "Reading Crown Court"
      },
      {
        text: "readingcc"
      }
    ],
    [
      {
        text: "Reading County Court and Family Court"
      },
      {
        text: "readingccfc"
      }
    ],
    [
      {
        text: "Reading Tribunal Hearing Centre"
      },
      {
        text: "readingtrib"
      }
    ]
    [
      {
        text: "Reading Magistrates' Court and Family Court"
      },
      {
        text: "readingmags"
      }
    ]    [
      {
        text: "High Wycombe County Court and Family Court"
      },
      {
        text: "wycombeccfc"
      }
    ]    [
      {
        text: "High Wycombe Magistrates' Court and Family Court"
      },
      {
        text: "wycombemags"
      }
    ]    [
      {
        text: "East Berkshire Magistrates' Court, Slough"
      },
      {
        text: "eberksmags"
      }
    ]    [
      {
        text: "Slough County Court and Family Court"
      },
      {
        text: "sloughccfc"
      }
    ]    [
      {
        text: "Staines County Court and Family Court"
      },
      {
        text: "stainesccfc"
      }
    ]    [
      {
        text: "Staines Magistrates' Court and Family Court"
      },
      {
        text: "stainesmags"
      }
    ]    [
      {
        text: "Watford County Court and Family Court"
      },
      {
        text: "watfordccfc"
      }
    ]    [
      {
        text: "Reading Tribunal Hearing Centre"
      },
      {
        text: "readingtrib"
      }
    ]
  ]
}) }}

        <ul style="list-style-type:none;">
          <li><a class="govuk-link" href="individual-location-pages/generic?">2.4 Bury St Edmunds Regional Divorce Centre</a></li>
          <li><a class="govuk-link" href="individual-location-pages/salford-ccmcc">2.4 County Court Money Claims Centre</a></li>
          <li><a class="govuk-link" href="individual-location-pages/reading-cc">2.4 Reading Crown Court</a></li>
          <li><a class="govuk-link" href="individual-location-pages/reading-ccfc">2.4 Reading County Court and Family Court</a></li>
          <li><a class="govuk-link" href="individual-location-pages/reading-mfc">2.4 Reading Magistrates' Court and Family Court</a></li>
          <li><a class="govuk-link" href="individual-location-pages/reading-mfc-notice">2.4 Reading Magistrates' Court and Family Court</a></li>
          <li><a class="govuk-link" href="individual-location-pages/reading-thc">2.4 Reading Tribunal Hearing Centre</a></li>
        </ul>
    </ul>
  </div>
</div>

{% endblock %}
