{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-search">Select a search option</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="location-search">Location</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="location-search">Search Results</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Reading County Court and Family Court</li>
  </ol>
</div>

<p></p>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds-from-desktop">

  <h1 class="govuk-heading-xl">Reading County and Family Court</h1>
  <p class="govuk-body-m">
    Types of cases heard: Adoption, Bankruptsy, Children, Divorce hearings, Domestic violence, Forced Marriage and FGM, High Court District Registry, Housing possession, Money claims.</p>
    <p class="govuk-body-m" >A County Court deals with civil law cases - so disputes between two parties for example over a property,  over a contract or over a personal injury. It does not handle criminal cases. Most matters are decided by a district judge or a circuit judge. There are no juries.</p>
<p class="govuk-body-m">A Family Court helps families avoid disputes or if they should arise to resolve those problems quickly. </p>

</div>
<div class="govuk-grid-column-one-third-from-desktop">
  <img src="reading-county.jpeg" alt="Front view of Reading County Court and Family Court">
  <p class="govuk-body-s">Reading County Court and Family Court</p>
<p></p>
  <p class="govuk-body-s govuk-!-font-weight-bold">Court Location Code: 305 | DX: 98010 Reading 6</p>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible">
    <p></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s">Contents</h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Visit or contact</h2>
    <h3 class="govuk-heading-s">Opening times</h3>
    <p>Court Building: Monday - Friday, 9am to 5pm (except public holidays)</p>
    <p>Telephone: Monday - Friday, 9am - 5pm (except public holidays)</p>

    {{ govukInsetText({
      text: "Court counter services are by appointment only. You will not be able to deliver an application unless you make an appointment on 01189 870 500"
    }) }}

  </div>
</div>


{{releaseVersion | log }}

</div>

{% endblock %}
