{% extends "layout.html" %}
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
Find a court or tribunal - select a search
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "Choose a search option"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose the option that best describes what you want to find</h1>


      <ul class="ctf-options-list">
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="/area-of-law/search-aol-postcode"role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Search for a Court, Tribunal or Service Centre near you</h2>
            
            <p class="govuk-body govuk-!-margin-2">You have started or are about to start a legal process and want to find the right local court, tribunal or an administration centre who will help.
            </p>
          </a>
        </li>
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="location/search-location-postcode" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Search for the contact details of a Court or Tribunal</h2>
            
              <p class="govuk-body govuk-!-margin-2">This might be because you need to attend a hearing, get an update about a case you are involved in, or serve as a juror.
              </p>  
          </a>
        </li>
      </ul>

      {{ govukInsetText({
        text: "If you have a letter, form or online message, that may help and if you have a letter requesting attendance that may help."
      }) }}


      {{ govukDetails({
      summaryText: "If you are having trouble completing this form, get in touch",
      text: "Contact details here"
      }) }}
    
  </div>
</div>

</br>


{% endblock %}
