{% extends "layout.html" %}
{% block pageTitle %}
Choose what you want to search for - Find a court or tribunal - GOV.UK{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "Choose a search option"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose what you want to search for</h1>


      <ul class="ctf-options-list">
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="/area-of-law/search-aol-postcode"role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Search for a court, tribunal or service centre near you</h2>
            
            <p class="govuk-body govuk-!-margin-2">
              You have started or are about to start a legal process and want to find the right local court, tribunal or an administration centre who will help.
            </p>
          </a>
        </li>
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="location/search-location" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">Search for the contact details of a court or tribunal</h2>
            
              <p class="govuk-body govuk-!-margin-2">
                This might be because you need to attend a hearing, get an update about a case you are involved in, or serve as a juror.
              </p>  
          </a>
        </li>
      </ul>

      {{ govukInsetText({
        text: "Check your HMCTS letter or correspondence for contact details of the court or tribunal."
      }) }}


      {{ govukDetails({
        summaryText: "If you need help with this tool",
        html: "<p>Telephone: 0300 1234 567</br>Email: help@gov.uk</p>"
      }) }}
    
  </div>
</div>

</br>


{% endblock %}
