{% extends "layout.html" %}
{% block pageTitle %}
  Find a court or tribunal - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body-m">
        You can use this service to find contact details, opening times and the area of law of the court or tribunal covers you must visit for a hearing or to drop off some documents.
      </p>

      {{ govukButton({
        text: "Search now",
        href: "choose-search-option",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you search</h2>

      <p class="govuk-body-m">
        Check your HMCTS letter or correspondence for contact details of the court or tribunal.
      </p>

      {{ govukInsetText({
        text: "This guide is also available in Welsh (Cymraeg)."
      }) }}

      <p class="govuk-body-m">You'll be able to find the following details about the court or tribunal:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Address</li>
        <li>contact details</li>
        <li>opening times</li>
        <li>appointment only information</li>
        <li>how to get to a court or tribunal</li>
        <li>the areas of law it covers</li>
        <li>disabled access to the building</li>
      </ul>

      <h2 class="govuk-heading-m">Northern Ireland and Scotland</h2>

      <p class="govuk-body-m">You may have to contact the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.justice-ni.gov.uk/topics/courts-and-tribunals" class="govuk-link">Northern Ireland Courts and Tribunals Service</a> for courts and some tribunals in Northern Ireland</li>
        <li>Scottish Courts website for courts and some tribunals in Scotland</li>
    </ul>



    <h2 class="govuk-heading-m">Explore the topic</h2>

    <p class="govuk-body-m"><a href="#">Court claims</a>, <a href="#">debt</a> and <a href="#">bankruptcy</a></p>
  </div>
</div>

{% endblock %}
