<!-- 0.0 Start Page -->
{% extends "layout.html" %}
{% block pageTitle %}
  Find a court or tribunal - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body-m">Use this service to find court or tribunal</p>

      <ul class="govuk-list govuk-list--bullet">

        <li>address</li>
        <li>contact details</li>
        <li>opening times</li>
        <li>building information e.g. disabled access or parking</li>

      </ul>

      {{ govukButton({
        text: "Start now",
        href: "what-about-ct-trib",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you search</h2>

      <p class="govuk-body-m">
       Check your HM Courts and Tribunal Services (HMCTS) letter or correspondence for contact details of the court or tribunal.
      </p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>


      <h2 class="govuk-heading-m">Northern Ireland</h2>
      <p class="govuk-body-m">We do not have court information for Northern Ireland.</p>

      <p class="govuk-body-m">Contact the <a href="https://www.justice-ni.gov.uk/topics/courts-and-tribunals" class="govuk-link">Northern Ireland Courts and Tribunals</a> for help.</p>

      <h2 class="govuk-heading-m">Scotland</h2>
      <p class="govuk-body-m">We only have court information for:</p>
      <ul>
        <li class="govuk-body-m"><a href="https://www.gov.uk/courts-tribunals/first-tier-tribunal-immigration-and-asylum" class="govuk-link">Immigration appeals</a></li>
        <li class="govuk-body-m"><a href="https://www.gov.uk/appeal-benefit-decision"class="govuk-link">Benefit appeals</a></li>
        <li class="govuk-body-m"><a href="https://www.gov.uk/courts-tribunals/employment-tribunal" class="govuk-link">Employment claims appeals</a></li>
      </ul>

<p class="govuk-body-m">Contact the <a href="https://www.scotcourts.gov.uk/the-courts/the-tribunals" class="govuk-link">Scottish Courts and Tribunals</a> for other services.</p>

  </div>
</div>

{% endblock %}
