{% extends "layout.html" %}
{% block pageTitle %}
  Find a court or tribunal
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home"
    }
  ]
}) }}
{% endif %}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body-m">This service is to help you find a court location that you need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Attend for a case hearing</li>
        <li>Send or hand in documents</li>
        <li>Attend as a Juror or a witness</li>
      </ul>

<!-- JHS change button to nunjucks version -->

      {{ govukButton({
        text: "Start now",
        href: "choose-search-option",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body-m">If you have a letter, form or online message about a legal process you are involved in that may help, and if you have a letter requesting attendance at a court or tribunal that may help.</p>


      {{ govukInsetText({
        text: "This guide is also available in Welsh (Cymraeg)."
      }) }}

      <p class="govuk-body-m">You'll be able to find the following details about the court or tribunal:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Address</li>
        <li>contact details</li>
        <li>opening times</li>
        <li>appointment only information</li>
        <li>how to get to a court or tribunal</li>
        <li>the areas of law it covers</li>
        <li>disabled access to the building</li>
      </ul>

      <h2 class="govuk-heading-m">Northern Ireland and Scotland</h2>

      <p class="govuk-body-m">You may have to contact the:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.justice-ni.gov.uk/topics/courts-and-tribunals" class="govuk-link">Northern Ireland Courts and Tribunals Service</a> for courts and some tribunals in Northern Ireland</li>
        <li>Scottish Courts website for courts and some tribunals in Scotland</li>
    </ul>



    <h2 class="govuk-heading-m">Explore the topic</h2>

    <p class="govuk-body-m"><a href="#">Court claims</a>, <a href="#">debt</a> and <a href="#">bankruptcy</a></p>
  </div>
</div>

{% endblock %}
