{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-search">Select a search option</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="location-search">Location</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search Results</li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Search results for location</h1>

      <p class="govuk-body-l">
        Location search: Reading </p>

        <p class="govuk-body-m">
          7 results </p>

{{releaseVersion | log }}

<h2 class="govuk-heading-m"><a href="#" class="govuk-link">Reading County and Family Court</a></h2>
<p>
  Cases heard: Adoption, Bankruptcy, Children, Divorce hearings, Domestic Violence, Forced Marriage and FGM, High Court District Registry, Housing Possession, Money Claims
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">Reading Magistrates' and Family Court</a></h2>
<p>
  Cases heard: Children, Crime, Domestic Violence, Social Security
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">Reading Crown Court</a></h2>
<p>
  Cases heard: Crime
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">Reading Tribunal Hearing Centre</a></h2>
<p>
  Cases heard: Employment
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">East Berkshire Magistrates' Court</a></h2>
<p>
Cases heard: Crime
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">High Wycombe County Court and Family Court</a></h2>
<p>
  Cases heard: Housing Possession, Money Claims, Divorce, Adoption
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>
<h2 class="govuk-heading-m"><a href="#" class="govuk-link">Slough County and Family Court</a></h2>
<p>
  Cases heard: Bankruptcy, Children, Divorce hearings, Domestic Violence, Housing Possession, Money Claims
</p>

<hr class="govuk-section-break govuk-section-break--visible">
<p></p>



  </div>
{% endblock %}
