<!-- 0.1 Do you have a name or address -->
{% extends "layout.html" %}
{% block pageTitle %}
What do you want to do? - Find a court or tribunal - GOV.UK{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "What do you want to do?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-route" method="post" novalidate>  
      {{ govukRadios({
        idPrefix: "know-location",
        name: "know-location",
        fieldset: {
          legend: {
            text: "Do you know the name of the court or tribunal?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "The name of the court or tribunal can be found on a letter, email or text from us."
        },
        items: [
          {

            value: "yes",
            text: "I have the name"

          },
          {
     
            value: "no",
            text: "I do not have the name"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

<!--
      {{ govukInsetText({
        text: "Check your HMCTS letter or correspondence for contact details of the court or tribunal."
      }) }}

      {{ govukDetails({
        summaryText: "If you need more help",
        html: "<p>Telephone: 0300 1234 567</br>Email: help@gov.uk</p>"
      }) }}
-->
    </form>  
  </div>
</div>

{% endblock %}
