<!-- 0.1 What do you want to know -->
{% extends "layout.html" %}
{% block pageTitle %}
What do you want to do? - Find a court or tribunal - GOV.UK{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a href="#" class="govuk-link fact-language">Cymraeg</a>'
  }) }}

<!-- Option to use Back link or Breadcrumbs using the env variable BACKLINK_REQUIRED defined in server.js -->
{% if backLinkRequired %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% else %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "index"
    },
    {
      text: "What do you want to do?"
    }
  ]
}) }}
{% endif %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-route" method="post" novalidate>  
      {{ govukRadios({
        idPrefix: "what-do-you-want-to-know",
        name: "what-do-you-want-to-know",
        fieldset: {
          legend: {
            text: "What do you want to know about the court or tribunal?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {

            value: "find-a-court",
            text: "Find an address, contact or facility details of a court or tribunal"

          },
          {
     
            value: "find-which-court",
            text: "Find a court or tribunal to help me with my application or hearing"
          },
          {
 
            value: "find-where-pay-fine",
            text: "Find a court or tribunal where I can pay a fine"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <!-- hints
            hint: {
              text: "e.g. You want to find an address, contact details or available facilities"
      -->
<!--
      {{ govukInsetText({
        text: "Check your HMCTS letter or correspondence for contact details of the court or tribunal."
      }) }}

      {{ govukDetails({
        summaryText: "If you need more help",
        html: "<p>Telephone: 0300 1234 567</br>Email: help@gov.uk</p>"
      }) }}
-->
    </form>  
  </div>
</div>

{% endblock %}
