{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="select-search">Select a search option</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Location</li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Search for the location of a court or tribunal</h1>

      <p class="govuk-body">
        If you know the name of the court you are looking for, or part of the address, then enter this here.
      </p>


      {{ govukInput({
      label: {
      text: "Enter a court name, town or city, or postcode"
      },
      classes: "govuk-input--width-10",
      hint: {
          text: "For example, Courts of Justice"
        },
      id: "address-postcode",
      name: "address-postcode",
      autocomplete: "postal-code"
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "reading"
      }) }}

      {{ govukInsetText({
        text: "Before you start, if you have a letter or email requesting attendance then that may help."
      }) }}

      <p class="govuk-body">
        If you are a member of staff at a court or service centre, you can search here using the Court Location Code.
      </p>

<hr class="govuk-section-break govuk-section-break--visible">
</br>

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
summaryText: "If you are having trouble completing this form, get in touch.",
text: "Contact details here"
}) }}


  </div>
{% endblock %}
