{% extends "layout.html" %}
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
Find a court or tribunal - select a search
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- JHS added in Back Link and removed breadcrumbs -->

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose the option that best describes what you want to find</h1>


      <ul class="ctf-options-list">
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="aol-postcode-search"role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">A service that relates to an area of law</h2>
            
            <p class="govuk-body govuk-!-margin-2">You have started or are about to start a legal process and want to find the right local court, tribunal or an administration centre who will help.
            </p>
          </a>
        </li>
    
        <li class="ctf-options-list-item">
          <a class="ctf-options-list-item-link" href="location-search" role="button">
            <h2 class="govuk-heading-m govuk-!-margin-2">The name or address of a court or tribunal</h2>
            
              <p class="govuk-body govuk-!-margin-2">You want to find contact details of a court or tribunal that you need to contact or visit. This might be because you need to attend a hearing, get an update about a case you are involved in, or serve as a juror.
              </p>  
          </a>
        </li>
      </ul>

      {{ govukInsetText({
        text: "If you have a letter, form or online message, that may help and if you have a letter requesting attendance that may help."
      }) }}


    
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>
</div>

</br>

{{ govukDetails({
summaryText: "If you are having trouble completing this form, get in touch",
text: "Contact details here"
}) }}

{% endblock %}
