{% extends "layout.html" %}
  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Select a search option</li>
  </ol>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose the option that best describes what you want to find</h1>

      <p class="govuk-body-l">

      </p>
{{releaseVersion | log }}
    </div>

  <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m"><a href="area-of-law" class="govuk-link">A service that relates to an area of law</a></h2>
      <p>
        You have started or are about to start a legal process and want to find the right local court, tribunal or an administration centre who will help.
      </p>

      <h2 class="govuk-heading-m"><a href="location-search" class="govuk-link">The name or address or a court or tribunal</a></h2>
      <p>
        You want to find contact details of a court or tribunal that you need to contact or visit. This might be because you need to attend a hearing, get an update about a case you are involved in, or serve as a juror.
      </p>

      {{ govukInsetText({
        text: "If you have a letter, form or online message, that may help and if you have a letter requesting attendance that may help."
      }) }}

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--visible">
<p></p>

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
summaryText: "If you are having trouble completing this form, get in touch.",
text: "Contact details here"
}) }}

{% endblock %}
