<!-- 2.3a Failsafe page -->
{% set mainClasses = "govuk-main-wrapper--l" %}
{% extends "layout.html" %}
{% block pageTitle %}
Unknown service - Find a court or tribunal - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Service not found</h1>
        <p class="govuk-body">
          If you cannot identify the service you need you can go to the list <a href="#">https://???</a>.
        </p>
        <p class="govuk-body">
          More text
        </p>
    </div>
  </div>
{% endblock %}